[2017-02-02 02:11] subdigital opened #1 "README"
Need README with:

- link to main site
- development dependencies
- setup instructions
- contribution guidelines
- license

[2017-02-02 02:13] subdigital opened #2 "Fastlane setup"
Thinking ahead, I'd like to get fastlane setup to automatically manage some of the tedium around distribution.

For now, a task to build & submit to Testflight would be a good first step.

[2017-02-02 02:13] subdigital opened #3 "Setup TestFlight Beta"
Need to get a few people as testers to send out a beta release.

[2017-02-02 02:15] subdigital opened #4 "Change app font to Roboto"
In matching the style of the website, I'd like to embed the [Roboto](https://www.fontsquirrel.com/fonts/roboto) font and use it where appropriate.

Definitely for the copy in the walkthrough, but probably for all labels, buttons, view controller titles, etc. (we can probably accomplish most of this w/ appearance proxies).

Here's a link on [how to embed fonts on iOS](http://stackoverflow.com/quest

[2017-02-02 02:21] subdigital opened #5 "Save location by zip code"
Tap Edit Location, type a zip.

Zip code is validated (5-digits for now) and saved to `UserDefaults`.

- trigger a refresh (via notification or callback) when it changes
- `IssuesViewController` reads the saved and passes to the fetch operation when loading issues.
- location button title should be changed to match the selected zip code

[2017-02-02 02:24] subdigital opened #6 "Save location by GPS"
Tap Edit Location, tap "Use My Location".

- prompt to use location w/ `CLLocationManager`
- on callback, use lat/lng and reverse geocode to get address
- save these values to `UserDefaults`, preferrably under a single key w/ a dictionary value
- clear any saved zip code
- trigger a refresh (via notification or callback) when upon change
- `IssuesViewController` reads the saved location / address

[2017-02-02 02:27] subdigital opened #7 "Settings / About screen"
Want to include:

- 5calls organizers / creators
- 5calls iOS contributors
- any open source projects used
- feedback link
- rate app link

Not quite sure where to surface the button for this, maybe a tiny (i) button in the header? Open to suggestions.

[2017-02-02 04:52] chrisbrandow commented on #5
it looks like you have a protocol for the editViewController to pass the zip code back to its delegate. What class do you currently anticipate being that delegate and presumably handling the responsibilities?

[2017-02-02 05:15] subdigital commented on #5
The issues container has the segue, I was planning on setting it there.

Sent from my iPhone

[2017-02-02 15:22] #1 closed

[2017-02-02 15:25] subdigital commented on #6
One thing to keep in mind is that we'll have to clear out the saved zip when GPS is used, and clear out the saved GPS if zip is used.  The issues view controller will have to prefer using GPS over zip, but check both.

Alternatively we could use another key that specifies which location type was used:

[code]

Up to you.

[2017-02-02 15:39] subdigital opened #9 "Issue Detail Screen (No Location Specified)"
Shows

- Issue title
- description
- section to set location
- tap to present location screen
- TODO: how to handle operation callback to fetch proper issue w/ contacts?

![](https://www.dropbox.com/s/himrb7ncelfo0ye/Screenshot%202017-02-02%2009.40.09.png?dl=1)

[2017-02-02 15:41] subdigital opened #10 "Share Issue on Twitter / Facebook / Email"
- open share sheet, use URL to issue on 5calls.org
- TODO: Universal links?

[2017-02-02 15:51] subdigital opened #11 "Show Representatives when present on Issue Detail Screen"
Data looks like this:

[code]

This is already parsed into the `Contact` struct.

Show the contact information for the first contact (or random?) as well as the issue script.  Looks like this:

![](https://www.dropbox.com/s/e0379g7i4ytas9o/Screenshot%202017-02-02%2009.51.01.png?dl=1)

Buttons to report the outcome of the call:

- Unavailable
- Left Voicemail
- Made Contact
- Skip

[2017-02-02 16:01] subdigital opened #12 "Reporting outcome of a call"
HTTP POST to `/report` including

- result (must be one of `'unavailable'`, `'vm'`, `'contacted'`)
- contact id
- issue id

Then save to local persistence (a plist, or maybe [Pantry](https://github.com/nickoneill/Pantry)? 😄 ) the outcome of this issue.

Issues that have a saved result show up w/ a green checkmark on the issues list.  This can be done in `IssuesViewController` by setting the `isChe

[2017-02-02 16:17] chrisbrandow commented on #6
For now, I'm proceeding with "when in use" permissions only.

[2017-02-02 16:18] subdigital commented on #6
Yes, in fact I wish there was a “single use only” option :)

[2017-02-02 16:29] bjtitus commented on #4
I'm taking a look at this today.

[2017-02-02 18:59] subdigital commented on #4
I'd like to try to match the website's style on the walkthrough screen & other areas where rich text is used for labels. I don't know an easy way of doing that w/ Storyboards & custom fonts (outside of doing it all manually). If you have suggestions I'm all ears :)

[2017-02-03 05:58] bjtitus commented on #4
@subdigital @mccarron Whenever you get a chance, check out PR #13 and let me know what you think. I think there are pros and cons but it is a fairly simple implementation, and the text resizing is pretty slick (and I think beneficial for a large audience, I know I've seen many people in Airports who have their font size cranked up).

[2017-02-03 10:35] #5 closed

[2017-02-03 15:05] #4 closed

[2017-02-04 05:06] #6 closed

[2017-02-04 05:45] chrisbrandow commented on #11
In order to avoid merge conflicts, I am going at least begin this issue by implementing it as an independent storyboard view that is not specifically in the view hierarchy

[2017-02-04 06:30] mccarron commented on #11
Ah shit yeah I already had started on most of this already in #16, told @subdigital but forgot to tag the issue.

[2017-02-04 06:31] mccarron commented on #11
The one thing we're not doing currently in that branch of work is putting the images up for the Representatives if you wanted to pick that up after it's merged.

[2017-02-04 06:31] mccarron commented on #12
Going to integrate this into the Script Detail screen.

[2017-02-04 07:15] alexargo commented on #7
What about a blue footer at the bottom(table view footer?) kind of like on the website? Could be a call to action for enabling notifications when that is implemented on the backend, have settings screen link / etc

[2017-02-04 07:27] chrisbrandow commented on #11
No prob. All good.

[2017-02-04 13:08] subdigital commented on #7
I like this better than my idea, which was going to put an ℹ️ button in the header somewhere. Do you want to tackle this ticket?

[2017-02-04 15:21] alexanderjrobinson opened #17 "Setup CI Server"
I'd be happy to help get the build going on a CI server. Any preference on what to use? Travis or Buddy Build seem like the most likely candidates.

[2017-02-04 16:02] subdigital commented on #17
I'm thinking Buddybuild.  I asked them if they had free hosting for open source projects.

Also this will be more valuable once the project has tests, but still would like to get it setup for distribution / crash reporting etc.

[2017-02-04 16:02] subdigital commented on #2
Closed by #18

[2017-02-04 16:02] #2 closed

[2017-02-04 16:02] subdigital commented on #3
Closed by #18

[2017-02-04 16:02] #3 closed

[2017-02-04 17:17] alexanderjrobinson opened #19 "Add unit testing bundle"

[2017-02-04 17:20] alexanderjrobinson commented on #17
According to their FAQ open source projects just get the same as the free tier. The main downside to the free tier is the limit on the number of devices that are automatically provisioned, but if TestFlight is used for distributing test builds it isn't much of an issue.

[2017-02-04 19:26] subdigital opened #20 "Extract strings in preparation for localization"
Currently the app uses hard-coded strings.  We're prepping to localize everything into some other languages.  The first step is to extract the strings in the app into strings files so we can hand these off to translators.

[2017-02-04 19:26] #9 closed

[2017-02-04 19:27] #11 closed

[2017-02-04 19:28] subdigital opened #21 "Load contact photos"
Right now we have static images for the contacts.  Need to remotely load in images for the contact cell and the `CallScriptViewController`

[2017-02-04 19:48] subdigital opened #22 "Support Field Offices"
The API was just updated to include field offices for contacts.  It currently looks like this:

[code]

We need a similar mechanism for choosing which number to call on the `CallScriptViewController`

[2017-02-04 21:46] subdigital opened #23 "Dynamic height rows seems to cause the issues list to shuffle"
I noticed that once we supported dynamic height on the issues list, the table reshuffles strangely when scrolling.

Another (probably related) thing is this occasionally causes our labels to no longer wrap & cause their cell to increase in height, instead reverting to truncating with ellipses ('...').

[2017-02-04 21:49] subdigital opened #24 "Record stats"
Need to record:

- date/time of call
- result
- save contact id, issue id, and number used

This will be used to provide info for a screen called "My Impact", as well as possibly serve future efforts to determine which numbers get through the most, etc.

[2017-02-04 21:49] subdigital commented on #23
@bjtitus is looking into this

[2017-02-04 21:51] #21 closed

[2017-02-05 00:50] subdigital commented on #22
Need some suggestions on the button here.  Any ideas @mccarron ?

![simulator screen shot feb 4 2017 6 46 16 pm](https://cloud.githubusercontent.com/assets/59140/22622798/bd837e8a-eb0a-11e6-9eec-3696e70f4e0b.png)
![simulator screen shot feb 4 2017 6 46 18 pm](https://cloud.githubusercontent.com/assets/59140/22622797/bd8214dc-eb0a-11e6-88d1-07ad66e78c43.png)

[2017-02-05 01:48] mccarron commented on #17
I use CircleCI mainly for iOS and works great but is a bit expensive. They also offer free builds for OSS but that was pre-OSX build servers so not sure it applies, I'd wager not.

[2017-02-05 01:58] mccarron commented on #23
Likely what I see doing this as well

![simulator screen shot feb 4 2017 7 57 21 pm](https://cloud.githubusercontent.com/assets/45654/22623098/362d5d34-eb14-11e6-869d-4ce202845f77.png)

[2017-02-05 02:21] subdigital commented on #22
Moving to #25

[2017-02-05 02:21] #22 closed

[2017-02-05 03:20] bjtitus commented on #23
@mccarron @subdigital See if that PR fixes your issue. The unnecessary reload call is what was triggering this for me. Let me know if you're seeing it in other cases with that call removed.

[2017-02-05 05:20] mccarron commented on #12
I also see `location` and `phone` on the backend call, should we also send that?https://github.com/5calls/5calls/blob/241e06aee6d56f0ffe8495043578ae003e35b222/go/report.go#L25

[2017-02-05 16:08] #23 closed

[2017-02-05 16:18] alexanderjrobinson commented on #17
Looks like I need to be a contributor on the repo before I can setup a build on Buddy Build.

[2017-02-05 16:19] subdigital commented on #17
@nickoneill can you add @alexanderjrobinson?

[2017-02-05 16:49] nickoneill commented on #17
Done - you can add team members now as well @subdigital

[2017-02-05 17:06] alexargo commented on #7
Sure.

[2017-02-05 17:07] subdigital commented on #17
![](https://media3.giphy.com/media/eC8QVLdKcloDm/giphy.gif)

[2017-02-05 17:07] subdigital commented on #24
Work in progress on the `save-contact-logs` branch.

[2017-02-05 23:59] #24 closed

[2017-02-05 23:59] #10 closed

[2017-02-06 00:00] mccarron commented on #19
Added with #28

[2017-02-06 00:00] #19 closed

[2017-02-06 00:06] mccarron opened #29 "Animation Between Contact Changing on Script Screen"
We need some razzle dazzle on the contact changing on the Script Screen.

[2017-02-06 00:16] alexanderjrobinson commented on #20
What do you think about using something like R.swift for the localization strings?

[2017-02-06 00:30] alexanderjrobinson commented on #17
I created a 5calls organization on BuddyBuild and added the iOS app. Someone with more privileges than me will need to add the web hook for Github and configure the iTunes Connect integration on BuddyBuild. https://dashboard.buddybuild.com/apps/5897bfe9e9a832010023be69

[2017-02-06 00:43] subdigital commented on #20
Not familiar with it, looking now.

Sent from my iPhone

[2017-02-06 00:53] alexanderjrobinson opened #30 "Calling reason truncated on call script screen"
When the calling reason is more than 1 line the text is truncated. See screenshot.

![simulator screen shot feb 5 2017 7 50 19 pm](https://cloud.githubusercontent.com/assets/541991/22631488/792f9962-ebdc-11e6-935f-b1ccf2992daa.png)

[2017-02-06 01:16] #29 closed

[2017-02-06 01:20] mccarron commented on #30
Darn that used to work. Investigating.

[2017-02-06 01:32] mccarron commented on #30
Fixed in PR #31
![simulator screen shot feb 5 2017 7 30 14 pm](https://cloud.githubusercontent.com/assets/45654/22631855/89b32392-ebd9-11e6-9a95-0ea34af5d980.png)

Even works on iPhone 5!
![simulator screen shot feb 5 2017 7 32 09 pm](https://cloud.githubusercontent.com/assets/45654/22631887/d8e07b9a-ebd9-11e6-8c53-b187b2e52377.png)

[2017-02-06 01:32] #30 closed

[2017-02-06 14:49] subdigital commented on #17
@alexanderjrobinson how do I access this?

[2017-02-06 15:00] mccarron opened #33 "Using iOS 10 only function to make Phone Calls"
I should have caught this.

We need to switch out the iOS 10 only `open(_:options:completionHandler:)` call with the `depreciated in iOS 10` old `openURL`

[2017-02-06 15:36] alexanderjrobinson commented on #17
I sent you an invite. Let me know if you don't receive it. @nickoneill should already have access because he had a BuddyBuild account already.

[2017-02-06 16:17] mccarron commented on #12
Apparently we need to support logging calls to the reps more than once. So reopening the issue.

[2017-02-06 16:41] #17 closed

[2017-02-06 17:08] alexanderjrobinson opened #35 "Add Universal Link support"
This is dependent on https://github.com/5calls/5calls/issues/75 to request issue details for a specific issue id.

[2017-02-06 17:35] mccarron commented on #12
Also add support for the 'phone' parameter, which we can capture based on what call button was pressed.

[2017-02-06 18:46] subdigital opened #36 "App Store Metadata"
Need:

- [x] keywords
- [x] description
- [x] app store screenshots

[2017-02-06 18:47] subdigital commented on #7
Being tracked by #34 and #32

[2017-02-06 18:47] #7 closed

[2017-02-06 18:54] subdigital commented on #36
Just riffing off the website, how's this?

[2017-02-06 19:15] subdigital opened #37 "My Impact"
Use the stats we're collecting from `ContactLogs` to build the My Impact screen (launched via the footer button).

Here's the Android equivalent:

<img width="234" src="https://cloud.githubusercontent.com/assets/59140/22662334/382cc466-ec6e-11e6-9656-97b14c7a0440.png">

[2017-02-06 20:18] alexanderjrobinson commented on #36
Here is the Play Store entry for reference. https://play.google.com/store/apps/details?id=org.a5calls.android.a5calls

[2017-02-07 02:19] #33 closed

[2017-02-07 03:32] #12 closed

[2017-02-07 04:42] subdigital opened #40 "Local weekday reminder to make your 5 calls"
- toggle from welcome screen and settings menu
- schedules local notification for weekdays at a specified time
- on launch schedule the next one if needed

[2017-02-07 05:17] #37 closed

[2017-02-07 16:36] mccarron opened #42 "About Screen: Social Links don't unselect"
After selecting the various links in the Social section of the About screen they don't get un-highlighted.

![img_9117](https://cloud.githubusercontent.com/assets/45654/22700760/4354180e-ed21-11e6-99c2-ede31c736eb3.PNG)

[2017-02-07 17:36] chrisbrandow commented on #40
Not entirely clear where it is launching from. I don't see the settings menu. Assuming it's not there yet.

[2017-02-07 17:37] subdigital commented on #40
There’s an “About” screen in the footer, it can go in there.  Maybe we need to rename the button, open to suggestions. (Right now “Settings" feels inappropriate because it’s all informational)

[2017-02-07 19:32] subdigital opened #44 "Fix scrollToBottom crash"
[code]

[2017-02-07 19:32] subdigital commented on #44
This happened when someone tried to enter in the zip code for the first time.

[2017-02-07 20:05] mccarron commented on #44
Yeah appears to be happening to my friend too, on 10.2.

[2017-02-08 00:32] #44 closed

[2017-02-08 01:05] #42 closed

[2017-02-08 01:11] alexanderjrobinson opened #46 "ben@scheirman.com on build #26: Test feedback"
Feedback from ben@scheirman.com : Test feedback

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/5897bfe9e9a832010023be69/5899e340796da601008f544f/43bc4e66-099f-4a4a-90e4-c0188a512578.jpg" width="33%" height="33%" /><table><tr><td>Created</td><td>Wed Feb 08 2017 01:11:17 GMT+0000 (UTC)</td></tr><tr><td>CFBundleShortVersion</td><td>1.0</td></tr><tr><td>CFBundleVersion</td><td>4<

[2017-02-08 03:28] #46 closed

[2017-02-08 03:28] mccarron commented on #46
NEVER WILL FIX

[2017-02-08 03:31] mccarron opened #47 "Show Checkmark On Call Script Screen"
There is no indicator on that screen to show if you've contacted that contact or not.

One suggestion is a `CheckboxView` in a titleView along with `Contact X of Y`.

[2017-02-08 03:37] mccarron opened #48 "Can't Set Location With Zip Code on Landscape"
Need to re-layout the screen or put it into a scrollview to move when the keyboard is presented in landscape.

(Landscape has been disabled for 1.0)

![simulator screen shot feb 7 2017 9 36 48 pm](https://cloud.githubusercontent.com/assets/45654/22722554/8ef425ea-ed7d-11e6-8ed7-8ab81e74cbfd.png)

[2017-02-08 04:35] chrisbrandow commented on #48
Are we doing landscape, or should we do portrait only?

[2017-02-08 04:39] nickoneill commented on #48
Portrait-only is 👌, I don't see a compelling reason to want to do landscape.

[2017-02-08 04:40] mccarron commented on #48
Yeah made the issue before we decided to cut Landscape over another issue.

On Tue, Feb 7, 2017 at 10:39 PM, nickoneill <notifications@github.com>
wrote:

[2017-02-08 14:10] subdigital commented on #48
Closing this for now, will re-open if we ever decide to support rotation.

[2017-02-08 14:10] #48 closed

[2017-02-09 00:55] subdigital opened #50 "Beta Feedback"
Some feedback from the slack channel:

- [x] "What's important to you?" header on issues list
- [x] On the issue page before location is set, don't show the "Call your representatives" header. Consider using the ghost text from the location box on the web in place of "Set location".
- [ ] The share issue button in the top right was no op for me.
- [x] Left aligning the issue title will look better

[2017-02-10 00:27] #50 closed

[2017-02-10 00:35] mccarron opened #53 "Issue Detail doesn't always show Contacts after setting Zipcode"
On a fresh install sometimes the Issues Detail screen doesn't show the contacts after setting the location from the Issues Detail screen.

I don't think this bug needs to be fixed for 1.0 as I can't reproduce it reliably.

Partial Steps To Reproduce:
1. Delete app and install fresh
2. Launch app and get through tutorial
3. Open random issue
4. Scroll to bottom to touch the "Set your location..." r

[2017-02-10 05:59] jablair commented on #53
I'm seeing this now. Let me know if there's anything I can do to collect some info for you.

[2017-02-10 15:25] mccarron commented on #53
After a deeper dive this AM I agree with @nickoneill that this is a Split District issue actually. We just need to handle zip being set and getting no contacts and instead show text to ask for a more specific address.

[2017-02-10 15:26] mccarron opened #55 "Smaller Screen Issues"
* Welcome Screens don't fully fit on an iPhone 4S and SE
* Location Screen doesn't fit an iPhone 4S

![simulator screen shot feb 10 2017 9 14 44 am](https://cloud.githubusercontent.com/assets/45654/22832268/007e45a0-ef73-11e6-8c0b-31fbe0de5a39.png)
![simulator screen shot feb 10 2017 9 12 01 am](https://cloud.githubusercontent.com/assets/45654/22832269/008573ca-ef73-11e6-9720-ef1e538c5b3d.png)
![p

[2017-02-10 15:44] subdigital-gitbot opened #56 "Fabric Integration Test"
#### in some_crashed_method

* Number of crashes: 0
* Impacted devices: 0

There's a lot more information about this crash on crashlytics.com:
[http://example.com/path/to/fabric/issue](http://example.com/path/to/fabric/issue)

[2017-02-10 15:45] #56 closed

[2017-02-10 15:47] subdigital opened #57 "Fatal Exception: NSInternalInconsistencyException crash"
http://crashes.to/s/1b10b5b1e3f

[2017-02-10 15:47] #36 closed

[2017-02-10 15:49] subdigital commented on #53
Quick implementation idea:

- check `issuesList` response, it has a `splitDistrict` value of `true.

If a split district is detected, prompt the user to use their location instead.

Long term we may want to allow users adding their full address, but I think the above is a quick solution.

[2017-02-10 15:50] subdigital commented on #55
That's frustrating, because it works fine in the simulator:

![iphonese-1-welcome2-3fd692916c8bc2d663ec46d93ca34042](https://cloud.githubusercontent.com/assets/59140/22833107/4d40cee6-ef76-11e6-8c79-c5483f7b4214.png)

[2017-02-10 15:51] facto commented on #55
Seeing this as well on iPhone 5S. Thanks again for this app!

[2017-02-10 15:55] mccarron commented on #55
@subdigital It is cut off in your photo actually, I have fixed a few of it in the Sim tho. Testing on 4S now which is the smallest iOS 9 supports.

[2017-02-10 15:58] subdigital commented on #55
![](http://media3.giphy.com/media/6OWIl75ibpuFO/giphy.gif)

[2017-02-10 16:22] bengottlieb commented on #40
Is this something that needs to be added? I don't see any code in there for local notifications. Should we add the "feature" tag?

[2017-02-10 16:24] subdigital commented on #40
Yes, but I believe @chrisbrandow is working on this already.

[2017-02-10 17:39] bengottlieb commented on #53
I just put up a pull request to address this.

[2017-02-10 17:43] subdigital commented on #53
Implemented by #58

[2017-02-10 17:43] #53 closed

[2017-02-10 21:08] chrisbrandow opened #59 "Flashing Images in `IssueDetailViewController`"
every time the view appears, the `avatarImage` flashes.

[2017-02-11 16:27] mccarron commented on #59
Forgot to note this also happens in `CallScriptViewController` and should also be fixed along with this.

[2017-02-11 16:29] mccarron opened #63 "Fully Transparent Header on Issues List"
Not sure why or how this happened, but @nickoneill reported this.

![pasted image at 2017_02_09 10_37 pm 1](https://cloud.githubusercontent.com/assets/45654/22855346/d1b9cac8-f044-11e6-846b-f9b546d3b32d.png)

I thought it was maybe Transparency turned off in Accessibility but that wasn't it. Hopefully someone has seen similar and can help reproduce this one.

[2017-02-11 20:29] nickoneill commented on #63
Original reporter doesn't know any other special options turned on, definitely not reduced transparency. It's a SE.

[2017-02-11 20:52] mccarron commented on #63
@nickoneill Did you find out what iOS version they are on?

[2017-02-11 21:22] subdigital commented on #59
Resolved by #60

[2017-02-11 21:22] #59 closed

[2017-02-11 21:22] subdigital commented on #55
resolved by #62

[2017-02-11 21:22] #55 closed

[2017-02-11 21:39] subdigital commented on #57
Tracking on #64

[2017-02-11 21:39] #57 closed

[2017-02-11 21:45] subdigital commented on #20
Tracking this in #61

[2017-02-11 21:45] #20 closed

[2017-02-11 22:09] inuwali commented on #63
@mccarron  I'm seeing this on my iPhone 7 running 10.2.1.

There's a difference in the view hierarchy when I run on device versus when I run on sim (seeing proper effect).

Sim: UIVisualEffectView has three subviews: _UIVisualEffectBackdropView, _UIVisualEffectFilterView, _UIVisualEffectContentView

Device: UIVisualEffectView has one subview: _UIVisualEffectContentView

[2017-02-12 01:38] mccarron commented on #63
@inuwali Does it always happen or is it fixed if you force quit the app?

[2017-02-12 15:44] inuwali commented on #63
It is 100% reproducible, right from a cold launch. I'm currently trying swapping out the storyboard instance for a programmatic one to see if that has any impact.

[2017-02-12 16:28] subdigital commented on #63
@inuwali Does this happen as a result of the view swapping animation that happens here? https://github.com/5calls/ios/blob/master/FiveCalls/FiveCalls/AppDelegate.swift#L41

[2017-02-12 17:05] mccarron commented on #63
@inuwali Also you can try to debug the issue with this command in the debugger:

`po [visualEffectView _whatsWrongWithThisEffect]`

Source: https://forums.developer.apple.com/message/76154#76153

[2017-02-12 19:49] inuwali commented on #63
@mccarron Thanks for the tip; unfortunately having trouble as a Swift newbie getting this to work in LLDB. Have tried:

`expr self.headerView._whatsWrongWithThisEffect()`
`expr -l swift -- self.headerView._whatsWrongWithThisEffect()`
`expr -l objC -- [self.headerView _whatsWrongWithThisEffect]`
`expr -l swift -- self.headerView.perform(Selector("_whatsWrongWithThisEffect"))` (this one gives back `

[2017-02-12 19:49] inuwali commented on #63
@subdigital I'll check that to see.

[2017-02-12 21:01] inuwali commented on #63
@subdigital No; since this happens after first run when that function is never called.

[2017-02-12 21:10] inuwali commented on #63
@mccarron @subdigital

Adding these lines to IssuesContainerViewController.viewDidLoad() worked:

`
        let replacement = UIVisualEffectView(frame: self.headerView.frame)
        let contents = (self.headerView as! UIVisualEffectView).contentView.subviews[0]
        contents.removeFromSuperview()
        replacement.contentView.addSubview(contents)
        NSLayoutConstraint.activate([

[2017-02-12 23:21] bengottlieb commented on #47
would we want to have some sort of on-device storage in that case, so we can keep track of these calls?

[2017-02-12 23:58] mccarron commented on #47
@bengottlieb We do already, we're storing call data with Pantry using the class ContactLogs to log when they tap a call outcome by issue ID and contact ID. ContactLog has a helper `hasContacted`

You can see it used on the main screen:
https://github.com/5calls/ios/blob/master/FiveCalls/FiveCalls/IssuesViewController.swift#L109

[2017-02-13 11:39] bengottlieb opened #68 "After selecting a method of contact, further selections are ignored"
You can see this with PR #69 which updates the Method of Contact buttons to reflect previous choices. If I go into a contact, select a method of contact (say, "Unavailable"), exit, and re-enter, if I select a different method, the next time I go back in, "Unavailable" is still selected.

[2017-02-13 11:42] bengottlieb commented on #47
Cool, didn't realize that's what Pantry was. Added PR #69 to address this, but uncovered another issue

[2017-02-13 11:49] bengottlieb commented on #68
never mind, was only showing the FIRST method of contact, rather than the most recent. Fixed in #PR 69.

[2017-02-13 11:49] #68 closed

[2017-02-13 15:31] subdigital-gitbot opened #70 "Crash in welcome page view controller"
#### in -[UIPageViewController queuingScrollView:didEndManualScroll:toRevealView:direction:animated:didFinish:didComplete:]

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58a1d1600aeb16625b3dc43f](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecal

[2017-02-13 16:42] subdigital commented on #63
@inuwali I tried this but get some duplicate constraint warnings.

I think it might be worth moving the visual effect view entirely in code and simply have a 120pt tall container w/ the content view (with logo, location button, etc) defined in the storyboard. Then in viewDidLoad we can wake up and wrap the header view in the effect view.

Do you want to take a stab at this and send a PR?

[2017-02-13 16:43] #47 closed

[2017-02-13 18:28] subdigital commented on #70
I'm not sure how this is happening, I can't reproduce it.

[2017-02-13 18:29] inuwali commented on #63
@subdigital
Yeah, the code I posted was just a trial to see if programmatic implementation would work. I'm happy to work on the solution and submit a PR.

[2017-02-13 18:39] mccarron commented on #70
I used that page a LOT this weekend testing other stuff and never saw a crash. Lets see if any more crashes come thru and if we can find a common denominator.

[2017-02-13 18:43] subdigital commented on #70
A quick search yielded this: https://forums.developer.apple.com/thread/6554

Not sure if relevant here.

[2017-02-13 19:20] bengottlieb commented on #70
Can you post a screenshot of that Crashlytics page? I'm unable to view it.

[2017-02-13 19:24] mccarron commented on #70
Here's the crash. [org.fivecalls.fivecalls-ios_issue_3_crash_77c77b19979349908ef77c277f9be7ab_9bdf87388c8a4510b365e201054abab4_0_v1.txt](https://github.com/5calls/ios/files/772153/org.fivecalls.fivecalls-ios_issue_3_crash_77c77b19979349908ef77c277f9be7ab_9bdf87388c8a4510b365e201054abab4_0_v1.txt)

[2017-02-13 19:26] subdigital commented on #70
I guess you have to click "share" to get a public link, but the integration can't do this automatically.
http://crashes.to/s/5c752b630ac

[2017-02-13 19:41] bengottlieb commented on #70
Smells like a low-memory issue to me. iPad mini neé 2, you task me.

[2017-02-14 01:47] designatednerd commented on #70
I saw a bug REAL similar to this at work - Turned out to be someone super-fast tapping the tutorial as it was disappearing. Might be something similar here.

[2017-02-14 18:48] subdigital-gitbot opened #75 "IssuesContainerViewController.swift line 69"
#### in IssuesContainerViewController.setContentInset() -> ()

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58a350f50aeb16625b49866a](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58a350f50aeb16625b49866a)

[2017-02-14 18:56] subdigital commented on #75
Public link: http://crashes.to/s/e85981c3e5b

[2017-02-14 23:54] chrisbrandow commented on #40
sorry for delay. got held up with a few things.

[2017-02-15 21:44] jablair opened #78 "Split Congressional District alert with Use My Location option"
I'm getting the Split Congressional District alert even when I use the Core Location option in lieu of entering my Zip code. If there's something about my location that makes the lookup unreliable, perhaps the dialog should be reworded?

I can see about collecting some additional info later for you folks.

[2017-02-16 01:56] subdigital-gitbot opened #79 "CoreFoundation"
#### in __exceptionPreprocess

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58a506e00aeb16625b573d4d](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58a506e00aeb16625b573d4d)

[2017-02-16 11:35] bengottlieb commented on #78
Can you provide your lat/long? That might help track it down.

[2017-02-16 14:46] jablair commented on #78
<+38.88163057,-77.10497088>

If I take the lat/long down to <= 3 digits of accuracy to the right of the decimal point, I get a non-split ticket back from the API and it looks like the correct info.

[2017-02-17 01:47] mccarron commented on #79
This is the same as #70.

[2017-02-17 01:47] #79 closed

[2017-02-17 03:45] #75 closed

[2017-02-17 05:22] mccarron commented on #70
I found an issue with the UIPageController that caused a weird state but not a crash. Fixed that in #81 so hoping but doubt it's related.

[2017-02-17 18:45] subdigital-gitbot opened #82 "IssuesViewController.swift line 0"
#### in specialized IssuesViewController.tableView(UITableView, cellForRowAt : IndexPath) -> UITableViewCell

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58a744b60aeb16625b6a77ad](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5

[2017-02-18 21:06] inuwali commented on #63
PR forthcoming. FYI, I had to reverse one of your recent commits to get things working properly after I merged in the latest from upstream. It's commented.

[2017-02-19 15:44] bengottlieb commented on #78
This looks like a Google Civic Information problem; putting those values into the API directly gives me different data (and less) than entering in truncated values. I think we'll get enough accuracy anywhere in the country using just 3 significant digits (I tried it in Manhattan, which I would imagine is the densest in the country). I also tried a few other lat/longs, and while I usually got my re

[2017-02-19 15:52] subdigital commented on #78
Chopping off significant digits changes the accuracy of the location, so I think this would yield inconsistent results. This is going to have a much different effect for someone in Texas than in Maine.

@jablair can you try entering in your address to the API directly?

[code]

Maybe the result that comes back _won't_ be in a split district for your address. If that's the case we can provide a 3rd

[2017-02-19 15:53] bengottlieb commented on #78
That's what I thought, but I figured it'd have a bigger effect in a place like NY than Texas, and it doesn't seem to have an effect there. I entered @jablair's data directly into the API [https://developers.google.com/civic-information/docs/v2/representatives/representativeInfoByAddress] and definitely saw more data with fewer digits. Did the same for a lat/long in Chicago and got similar results.

[2017-02-19 18:56] jablair commented on #78
@subdigital Yeah, I got back non-split district results when I entered my address. Correct combination of senators and reps, too.

I'll cop to not understanding the split district logic, but it just struck me as odd that reducing the accuracy of the location data would increase the accuracy of the lookup results. Truncating the GPS coordinates moves my location about .07 miles and neither location

[2017-02-19 19:16] inuwali commented on #63
@subdigital @mccarron The PR is up.

[2017-02-19 22:46] nickoneill commented on #78
The boundaries in google civic aren't always perfect / up-to-date either. But no, this confuses me as well.

I posted about this here: https://developers.google.com/civic-information/docs/ci_forum?place=msg%2Fgoogle-civicinfo-api%2FZ05d_EdudSU%2FxWdK75EkDQAJ

Hopefully we'll get a better answer of what's going on.

[2017-02-20 02:09] alexanderjrobinson opened #86 "ben@scheirman.com on build #108: When leaving call feedback on iPad, it's not possible to…"
Feedback from ben@scheirman.com : When leaving call feedback on iPad, it's not possible to navigate back to the issue detail (in order to choose a different candidate. Also, when you finish making your calls, the issue list isn't updated to reflect the check mark.

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/5897bfe9e9a832010023be69/58aa48aff70cb601008fd31d/78670666-2e80-47

[2017-02-20 02:12] alexanderjrobinson opened #87 "ben@scheirman.com on build #108: Possible to have blur w/ this header in split view?"
Feedback from ben@scheirman.com : Possible to have blur w/ this header in split view?

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/5897bfe9e9a832010023be69/58aa48aff70cb601008fd31d/44cee19f-7351-48c5-9121-a62b84ecaa33.jpg" width="33%" height="33%" /><table><tr><td>Created</td><td>Mon Feb 20 2017 02:12:00 GMT+0000 (UTC)</td></tr><tr><td>CFBundleShortVersion</td><td>1.1</td><

[2017-02-20 02:15] subdigital-gitbot opened #88 "Crash trying to share from About screen on iPad"
#### in -[UIPopoverPresentationController presentationTransitionWillBegin]

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58aa515b0aeb16625b7f8441](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58aa515b0aeb16625b7f8441)

[2017-02-20 02:28] subdigital commented on #88
This is part of #83, happened when I clicked "Share" from the "About menu".

[2017-02-20 02:31] subdigital commented on #82
Plain text stack trace:

[code]

[2017-02-20 02:32] subdigital commented on #63
Closing, tracking on #85.

[2017-02-20 02:32] #63 closed

[2017-02-20 02:34] alexanderjrobinson opened #89 "ben@scheirman.com on build #108: This button doesn't feel like a button (no tint color, no…"
Feedback from ben@scheirman.com : This button doesn't feel like a button (no tint color, no change in color when tapped)

<img src="https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/5897bfe9e9a832010023be69/58aa48aff70cb601008fd31d/b77b4661-0073-4b4b-8cec-c3b8b5a7a5d0.jpg" width="33%" height="33%" /><table><tr><td>Created</td><td>Mon Feb 20 2017 02:34:38 GMT+0000 (UTC)</td></tr><tr><td>CFB

[2017-02-20 02:35] subdigital commented on #82
Possibly low-memory related crash. Closing for now.

[2017-02-20 02:35] #82 closed

[2017-02-20 02:37] subdigital commented on #70
Going to close this for now. We haven't seen another one of these in a while (which could be because those folks have moved passed the welcome screen, 😆 , but we've had literally thousands launch the app since then.

[2017-02-20 02:37] #70 closed

[2017-02-20 02:38] mccarron commented on #70
Agreed and who knows if my minor bug fix cleans it up or not.

[2017-02-20 02:39] subdigital commented on #70
I'm going to go with yes. Good job, Patrick!

![](http://media1.giphy.com/media/100QWMdxQJzQC4/giphy.gif)

[2017-02-20 02:52] subdigital opened #90 "Messaging for first call"
I'd like to add a one-time alert when the user calls to give them some quick instructions about the need to double-tap & come back so they can read the script.

First time user calls, present an alert:

When we press this button:

- Save an entry in user defaults so we know not to present this alert again
- Call the system dialer

[2017-02-20 02:55] nickoneill commented on #90
👍 Great idea!

[2017-02-20 11:20] bengottlieb commented on #89
added a tint and shows-touch-on-highlight.

[2017-02-20 11:27] bengottlieb commented on #88
Fixed the crash, now use the table cell as the 'source' for the popover (it's gotta be a popover on iPad).

[2017-02-20 11:28] bengottlieb commented on #86
Yeah, I wasn't sure how we wanted to handle this. I can add a fake back button to the 'navigation bar'-like image at the top, but if we maintain the full-screen image header, we don't want to use a traditional navigation style.

[2017-02-20 12:14] bengottlieb commented on #86
okay, added a Back button next to the Share button.

[2017-02-20 12:31] bengottlieb opened #91 "Weird image caching issue"
Pretty sure that is NOT Tammy Duckworth's picture:

![screen shot 2017-02-20 at 5 31 27 am](https://cloud.githubusercontent.com/assets/53162/23125180/22e4741e-f736-11e6-9a08-9098fc0dc52f.png)

(note: iPad isn't doing anything funky in this view, so it's doubtful this is an iPad-related bug, but not, of course, impossible.)

[2017-02-20 14:12] bengottlieb commented on #87
I think this can be done, but it'll mean making a larger departure from the iPhone code base.

[2017-02-21 03:54] armadsen opened #94 "Add phone numbers for local offices"
I often call my representatives' local offices for a few reasons:

- They're open later locally due to the time zone difference.
- Sometimes when the DC office voice mailbox is full, the local office's mailbox will not be (and vice versa).

It would be nice if 5Calls would show all office numbers for each representative, not just the DC offices. Not sure if the API being used provides this info.

[2017-02-21 03:55] armadsen opened #95 "No way to "uncheck" a call"
If I mistakenly indicate that I've made contact with a rep, there doesn't appear to be a way to undo that. It's not a huge deal, but for keeping track of issues and calls, it would be nice to be able to fix mistakes.

[2017-02-21 03:57] armadsen opened #96 "Marking rep as unavailable should not count as complete"
Right now, if I mark a contact as "unavailable" it counts the same as making contact (green checkmark and all). It seems more useful for it to either show as uncontacted or yellow, or somesuch. That way, I can remember to come back to that contact later. e.g. tonight I called my rep and their voice mailbox was full. I'll try again tomorrow, but 5Calls won't remind me that I need to do that.

[2017-02-21 11:27] bengottlieb commented on #87
Okay, I think I figured out what was going on here; should be working in PR #93

[2017-02-21 11:28] bengottlieb commented on #95
Does the API support this? Would we want to send a message to the server removing the call?

[2017-02-21 15:08] justin commented on #90
I'll tackle this to help the project if no one else has.

[2017-02-21 15:09] subdigital-gitbot opened #97 "FetchIssuesOperation.swift line 64"
#### in specialized FetchIssuesOperation.(execute() -> ()).(closure #1)

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58ac58170aeb16625b8f2b78](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58ac58170aeb16625b8f2b78)

[2017-02-21 15:09] subdigital commented on #90
Nope, this one’s open for the taking.

[2017-02-21 15:10] subdigital-gitbot opened #98 "FetchIssuesOperation.swift line 62"
#### in specialized FetchIssuesOperation.(execute() -> ()).(closure #1)

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58ac584a0aeb16625b8f2d2c](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58ac584a0aeb16625b8f2d2c)

[2017-02-21 15:22] subdigital commented on #96
Good point. It should definitely move you to the next contact (if there is one), but not mark it as complete. Thanks for reporting this.

[2017-02-21 15:23] subdigital commented on #95
API does not support this, but we could locally.  I think the occasional extra stat isn't going to hurt the numbers that much.

[2017-02-21 15:32] bengottlieb commented on #96
I put up a PR to treat these as 'completed', but then clear them the next 'day'.

[2017-02-21 15:33] subdigital commented on #94
They do have local numbers for many offices. This was a largely manual effort coordinated by the team in the slack room. Which candidates do you not have numbers for?  If you want to gather them I can provide this info to the team that handles it.

[2017-02-21 15:36] subdigital commented on #91
Definitely not ;)

I saw this once on the iPhone app as well, this was after I added the image cache.  Looking at the code it's not obvious what the issue could be, but I'll look a little closer.

[2017-02-21 16:37] nickoneill commented on #94
We've got local numbers for senate + house, senate is coming through the API right now but the house numbers need a bit of cleanup before they're ready. This week probably.

[2017-02-21 16:40] armadsen commented on #94
I see now that if you tap the "Line Busy?" button, additional numbers show up. I still don't see that button or additional numbers for my congress person:

![img_3846](https://cloud.githubusercontent.com/assets/1057175/23174485/c3c9e772-f819-11e6-8106-66ca625195d3.PNG)

[2017-02-23 04:38] #97 closed

[2017-02-23 04:39] #98 closed

[2017-02-23 18:00] chrisbrandow commented on #94
Here is a layout that I just tested out that possibly clarifies the field office issue. I also found it hard to discover at first, even though I knew we had implemented the feature.

I can push it up as a PR if there is any interest in it.

1. I moved the button to be below the main phone number
2. I changed the text, though there might be better phrasing
3. Since this button now has longer text,

[2017-02-24 04:39] #89 closed

[2017-02-24 04:39] subdigital commented on #89
Part of #93

[2017-02-24 04:39] subdigital commented on #88
Part of #93

[2017-02-24 04:39] #88 closed

[2017-02-24 04:40] subdigital commented on #87
blur, glorious blur (is in #93)

[2017-02-24 04:40] #87 closed

[2017-02-24 04:40] subdigital commented on #86
working in #93

[2017-02-24 04:40] #86 closed

[2017-02-24 06:36] subdigital-gitbot opened #102 "Storyboard force unwrap crash?"
#### in specialized IssuesViewController.prepare(for : UIStoryboardSegue, sender : Any?) -> ()

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58afd4820aeb16625baa716b](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58afd4820aeb166

[2017-02-24 15:14] mergesort commented on #91
@subdigital There doesn't seem to be any `prepareForReuse` in `ContactCell`. Might be worth throwing `cell.avatarImageView.image = nil` in `prepareForReuse` and seeing if that fixes the recycling issues?

[2017-02-25 04:28] subdigital commented on #91
Fixed by #103

[2017-02-25 04:28] #91 closed

[2017-02-25 15:34] subdigital opened #105 "Move to "Address or Zip Code" Entry"
We've received a bunch of reports that niether zip code nor GPS provide 100% functionality with respect to congressional districts.  We need to allow passing a full address to the API in these cases.

- Remove zip code validation
- make text field read "Enter Zip or Address"
- update any references to zip code (we can just call this an "address" in the code)
- URL encode whatever they type and pas

[2017-02-25 15:34] subdigital commented on #105
@tomburns is working on this.

[2017-02-25 15:35] subdigital commented on #78
Tracking this under #105

[2017-02-25 15:35] #78 closed

[2017-02-25 15:35] subdigital commented on #102
Public crash link: http://crashes.to/s/f7071044db2

[2017-02-25 16:02] tomburns commented on #105
Welp, just noticed this :) I'll update the UI text in my PR

[2017-02-25 20:29] subdigital commented on #78
@jablair can I add you to test flight so we can verify the full address change resolves the issue for you?

[2017-02-25 21:13] subdigital commented on #35
(this is currently blocked on a server feature)

[2017-02-25 21:14] subdigital commented on #90
Heads up, @tomburns is going to snag this feature.

[2017-02-25 22:00] #90 closed

[2017-02-26 18:35] jablair commented on #78
@subdigital Sure, happy to help.

eblair at raoli.com should work.

[2017-02-26 20:22] tomburns commented on #105
@subdigital I think this issue can be closed after PR #106

[2017-02-26 20:23] #105 closed

[2017-02-26 20:24] subdigital commented on #95
Going to close this as I think addressing #96 resolves the main reason we might need this.

[2017-02-26 20:24] #95 closed

[2017-02-26 20:25] subdigital commented on #94
Closing this, as it gets implemented server side.

[2017-02-26 20:25] #94 closed

[2017-02-26 21:23] #96 closed

[2017-02-26 21:25] #40 closed

[2017-02-27 11:45] bengottlieb commented on #102
Given this has only happened once, and the device its running on looks to be straining (< 0.5 GB of disk, ~80Mb RAM), and that there's very little going on in this method, I'm going to say this is memory related.

[2017-02-27 18:32] subdigital commented on #102
Agree.

[2017-02-27 18:32] #102 closed

[2017-02-28 18:10] subdigital opened #114 "Allow copying script"
Someone requested this, perhaps so they could tweak the script a little when the called.

[2017-03-03 00:36] subdigital-gitbot opened #116 "IssuesManager.swift line 48"
#### in specialized IssuesManager.(fetchIssues(completion : (IssuesLoadResult) -> ()) -> ()).(closure #1).(closure #2)

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58b8ba6f0aeb16625bedd1d8](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-io

[2017-03-03 02:41] subdigital commented on #116
Public link: http://crashes.to/s/f7071044db2

/cc: @tomburns

[2017-03-03 15:18] subdigital commented on #116
Crashlytics doesn't have anything on this crash, sadly:

![](https://www.dropbox.com/s/5v5da9fmu2aiw1o/Screenshot%202017-03-03%2009.17.53.png?dl=1)

[2017-03-03 19:20] subdigital commented on #116
Unfortunately the built-in crash logs available to Xcode for this version doesn't show anything (those who crashed probably didn't opt-in...)

[2017-03-04 03:30] bengottlieb commented on #116
I have a theory on this one, just pushed up a possible fix. I think that, since the operation isn't being accessed directly in the completion block, but in the async call after it, it's possible it's being dealloc'd in the meantime. I think if we cache the Error? var before dumping to async, it'll prevent this from happening.

[2017-03-07 02:39] subdigital-gitbot opened #119 "DropDown"
#### in _TFFC8DropDown8DropDown4hideFT_T_U0_FSbT_

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58be1d7b0aeb16625b14bfda](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58be1d7b0aeb16625b14bfda)

[2017-03-07 15:14] bengottlieb commented on #119
Is there a public link for this issue?

[2017-03-08 18:17] #116 closed

[2017-03-08 18:18] subdigital opened #121 "Gracefully handle office locations w/ no names"
Sometimes the office names aren't present in the API response for the House.  Just need to check for this so we don't see something like:  `"222-333-4567 ()"`

[2017-03-08 19:03] bengottlieb commented on #121
Do we have any examples?

[2017-03-08 19:15] subdigital commented on #121
It's dependent on the data, but try to find an issue with a house representative.  I found one w/ zip 77429 and I posted the picture to slack.

Sent from my iPhone

[2017-03-08 22:07] bengottlieb commented on #121
Hmm, every issue I'm seeing is either Senate- or Governor-only, or just hits a House subcommittee.

[2017-03-09 00:48] mccarron commented on #121
Fixed by #122

[2017-03-09 00:48] #121 closed

[2017-03-09 01:02] mccarron commented on #119
Hmm I see a bug on Dropdown about lots of dismissals but I can't reproduce on the latest beta.

https://github.com/AssistoLab/DropDown/issues/72

[2017-03-11 23:59] mergesort opened #126 "Move add reminder to home screen"
We have some users writing in asking for a reminders feature, which makes me think that it's not prominent enough.

My suggestion is to add a button on the home screen, in the top left corner of the header.
Design-wise I was thinking a bell icon, which is either outlined or full, depending on whether the user has set them up or not. Tapping it would take you to the same screen as it currently does

[2017-03-14 00:07] subdigital-gitbot opened #127 "IssuesViewController.swift line 0"
#### in specialized IssuesViewController.shouldPerformSegue(withIdentifier : String, sender : Any?) -> Bool

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58c7343b0aeb16625b5b9c7b](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/58

[2017-03-17 05:48] chrisbrandow commented on #126
I made a simple implementation with a button in the top left corner as suggested.

[2017-03-20 21:50] subdigital commented on #119
We're going to remove this in favor of an action sheet anyway. Closing this one.

[2017-03-20 21:50] #119 closed

[2017-03-20 21:50] #126 closed

[2017-03-24 19:13] #127 closed

[2017-03-27 20:23] bgerstle opened #131 "Request: use a more neutral status bar color, since red is similar to the "recording" state"
When using the microphone or recording, there's a red bar across the top of the device. It doesn't look exactly like 5calls does, but nonetheless it gives the (false) impression the app is using my microphone for something.

I realize it's probably a "red, white, and blue" color scheme thing, but figured I'd write let you guys know about the other cases when a red bar shows up all the same.

Other

[2017-03-27 20:24] bgerstle opened #132 "As a user, I can get push notifications when my friends make a call..."
...so that I can be motivated to make more calls!

Haven't thought further about the cross-platform implications here, but if there's a way to try it as an experiment, I think it would be awesome!

[2017-03-28 18:37] mergesort opened #134 "Change font from Roboto to the iOS System Font"
We currently use a UIApperance proxy to assign the [Roboto Condensed font](https://github.com/5calls/ios/blob/b01ed57d0e65a2212bfe6a8956d31c9d4e2b6291/FiveCalls/FiveCalls/Appearance.swift#L16) throughout the app.

I propose we switch from Roboto to San Francisco, or using the system default, so that we match our platform rather than maintaining parity across platforms.

[2017-03-29 00:53] tomburns commented on #134
I'll have some time this week to grab this if we decide to proceed - we can probably do it in a couple phases, first ripping out the custom font and second cutting over to dynamic type where possible throughout the app.

[2017-03-29 01:43] mergesort commented on #134
I was thinking if @mb is interested, this would be a good starter task for him. Thoughts?

[2017-03-29 01:44] mergesort commented on #134
I was thinking if @mattbischoff is interested, this would be a good starter task for him. Thoughts?

[2017-03-29 01:44] tomburns commented on #134
@mergesort fine by me! just wanted to get the ball rolling, but I can cut over to something else instead.

[2017-03-29 02:32] mattbischoff commented on #134
I am!

[2017-03-29 15:22] subdigital commented on #132
Push notifications are being discussed, but probably won't be exactly as you describe.

We have no notion of friends, nor do we want to track and user identifiable information on the server.  Push will probably come in a form of an important issue that we can blast out to folks.

Location is also part of the equation.  Like for instance they know that a certain senator is for a piece of dangerous

[2017-03-29 15:22] #132 closed

[2017-03-29 15:24] subdigital commented on #131
Agree with this.  I'm not sure exactly what to do about it, but it does conflict with the recording status bar.

Off the top of my head, choices are:

- remove the red status bar entirely
- use standard white status bar w/ red nav bar (ugh)
- maybe use blue everywhere instead?

@mattbischoff any suggestions here?

[2017-03-29 15:26] subdigital opened #137 "When completing a call, advanced to the next _uncontacted_ contact"
Say you have 3 contacts to call.  You skip the first one, then complete the 2nd.

When you come back later and complete contact 1, it should skip to contact 3, because 2 had already been contacted.

(Exception: unavailable status)

[2017-03-29 15:27] mattbischoff commented on #131
I was thinking about this this morning actually! Right now I think the brightness/contrast of the status bar detracts from what we’d want people to be paying attention to. I think we should remove the background entirely and make the status bar style `default`. If we want to keep the red accent color in the app, we can probably find another suitable place for it.

[2017-03-29 15:30] subdigital opened #138 "Page between contacts"
Instead of pushing a separate view controller when a call is made, it would be preferable to embed each call script in a page view controller and allow paging between them.  Tapping the completion buttons would just change the page index.

Bonus here is a custom page indicator that indicated the status of contact.  Green checkmark for _contacted_, empty circle or dot for _not yet contacted_ and so

[2017-03-29 15:34] subdigital opened #139 "Remove unnecessary text from call script VC"
"Why you're calling this office?" seems like unnecessary text.  The value is in the label below it "This is one of your two senators" or "This organization is driving legislation related to the issue".

I think the meaning of the label is obvious and doesn't need a heading.

[2017-03-29 15:37] subdigital opened #140 "Remove blue text"
The blue text conflicts with an iOS convention that colored text is often used to indicate that something is tappable. By abusing colored text everywhere, it is not obvious that something things are actually buttons.

- Change blue text to black (or perhaps a gray) on the issue detail screen
- Blue text on Call script screen, both at the top and at the bottom near the result buttons

[2017-03-29 15:40] subdigital opened #141 "Update result button styles"
The current buttons use all caps, and don't necessary fit in with iOS style. Would like to change them to something like this:

![](https://www.dropbox.com/s/3pm6gzbxxn1f8w6/Screenshot%202017-03-29%2010.39.28.png?dl=1)

[2017-03-29 15:47] subdigital opened #142 "Use consistent color to indicate "Completed" status"
Currently we use green checkmarks to indicate _complete_ in the table view cells for issues and contacts, but a solid blue fill for the result buttons.

It was suggested to use the same color for both, linking the meaning of a completed action from the button -> contact -> issue.

![](https://www.dropbox.com/s/n1syh8x9hrnb9pu/Screenshot%202017-03-29%2010.41.58.png?dl=1)

In addition to the above,

[2017-03-29 15:48] subdigital opened #143 "Submit button should be disabled until location text is entered."

[2017-03-29 16:11] subdigital commented on #131
Maybe just a thin red line instead of a solid red?  Otherwise 👍

[2017-03-30 17:08] nickoneill commented on #132
Thanks @bgerstle! This is a great idea, social pressure from friends can be very motivating and this would definitely drive people back to see the issues.

Requirements would be some sort of social-connection signup which has already been discussed as something we should do.

[2017-03-30 17:08] nickoneill commented on #132
that's what I get for commenting on tabs that are 3 days old

[2017-03-30 17:09] subdigital commented on #132
Well if it's up for discussion still I'm happy to open it back up.

[2017-03-30 17:12] nickoneill commented on #132
Your point is absolutely the direction we're headed in for the near future. Some sort of account login would be a ways down the road still. Let's focus on the account-less notifications for the moment and we can revisit in the future.

[2017-04-02 16:42] subdigital opened #144 "Support Dynamic Type Changes"
Currently the app doesn't respond to dynamic type changes. This is something we should fix to be more accessible.

A probably incomplete list of places that need this work:

- [x] Issue Detail
- [x] Call Scripts
- [x] About screen
- [x] Onboarding screens
- [x] Issue list (front page and more)
- [x] Impact
- [x] Reminders
- [x] Set location

[2017-04-02 16:59] #140 closed

[2017-04-02 16:59] #139 closed

[2017-04-02 17:00] subdigital commented on #134
I was in the middle of a related change and somehow got sucked into doing this whole thing. Might need some tweaking here or there, but currently uses dynamic type supported fonts everywhere except nav bar title and tableview section headers.

[2017-04-02 17:00] #134 closed

[2017-04-02 17:00] subdigital commented on #131
Standard nav bar is back.  Looks good.

[2017-04-02 17:00] #131 closed

[2017-04-02 19:09] nickoneill opened #145 "Inform users about fax/email situation on script copy"
We initially added script copying because some users wanted to print out scripts when they call. Now more requests are coming through to add copying so people can engage on faxes or emails which we'd like to discourage - not because we're greedy but because we believe calls are genuinely the best way to make an impact.

When users select text on the scripts to copy them, we should display some sor

[2017-04-02 21:49] bengottlieb commented on #145
I just pushed a PR for this. Might want to change it to only trigger if they copy more than, say, 90% of the text? Alert only fires once.

[2017-04-11 03:44] nickoneill opened #148 "Support "More issues" list"
We've been offering still-valid-yet-not-frontpage issues on our "more" page: https://5calls.org/more

This should be supported if users want to see issues beyond what the front page has to offer.

Keep in mind this will be supplemented with issue categories in the near future: some section headers on the table views are probably enough for that.

[2017-04-13 14:43] musicisamiracle opened #150 ""About" Navigation Controller tint color issue"
I noticed the back button for the navigation controller in the About storyboard was the system default blue color. I does not contrast well with the blue color of the navigation bar. I have corrected it and am ready to submit a PR, but I wanted to create the issue first.

[2017-04-17 00:08] keithgee opened #152 "Pressing return on location page should hide keyboard and submit location"
On the screen to edit the user location, pressing the return key on the keyboard does nothing. It should dismiss the keyboard if there is text in the field, and probably should automatically submit the updated location as well.

This would be a good starter-issue.

[2017-04-17 00:16] keithgee commented on #143
Pull request #151 disables the submit button when the location field is empty, and also adds transparency to the BlueButtons when they are disabled.

[2017-04-17 11:02] keithgee opened #153 "iPad only: Change in user location does not immediately update representative list"
In the views for the iPad app, the user can set a location with a pop-up style window while viewing an issue. This is convenient.

If the user changes location in the "Set your location" window, ideally the list of representatives shown at the bottom of the issue view would update immediately to reflect the new location. In the current version of the iPad app, the representatives in the "Call your

[2017-04-18 01:51] mccarron commented on #150
Closed by #154

[2017-04-18 01:51] #150 closed

[2017-04-22 16:35] #143 closed

[2017-04-22 17:38] erikkrietsch commented on #153
I can take this one.

Posting this mostly for my own future self: I know _why_ this is happening, but I haven't decided yet how I would want to fix it.  The `IssueDetailViewController` is setting itself as the delegate for the `EditLocationViewController` when it is launched via a segue on the `IssueDetailViewController` but that only happens when the device is a particular size. Subscribing to no

[2017-04-22 19:55] mccarron commented on #153
@erikkrietsch Sounds like we need to set the delegate in the other case maybe when the popup is launched?

If that seems too hard to do properly, I'd be game for listening for a notification across the app for this. Will make it easier going forward to adding setting location from other places in the future.

[2017-04-22 21:51] erikkrietsch commented on #153
There actually already is a notification for when a user changes their location, so I was going to just tap into that. I've got the fix just about ready, I just need to extract out a common function for the two scenarios.

[2017-04-24 00:08] erikkrietsch commented on #153
It's actually a little more complicated than I initially thought, and my original assessment wasn't quite right. If the user hasn't yet set their location, then they can do that via a special table cell in the IssueDetailViewController. That's when the IDVC sets itself as the delegate for the location controller. This can happen on any size device. The iPad can also set the location through a spec

[2017-04-24 15:01] obuseme opened #156 "Display "My Community's impact"
Awesome app, somehow I had never heard about it until Ben's interview on the Release Notes podcast.

On the My Impact screen, I propose the following changes:
- Show the exact same stats that are there, but contextual to my representation. So for example, for my state senators: how many times was contact made, a voicemail left, or unavailable. And ditto for my Rep.  This will help personalize the

[2017-04-27 20:25] dempseyatgithub opened #158 "Should inform user sooner that address is ambiguous"
As a new user, traveling when I downloaded the app, I entered my zip code as my location.

This was ambiguous as to my representative. So in many issues, only Senators appeared. I had to find an issue only for the House to see a warning that my address info was not specific enough to identify my Representative.

It would be great if that warning appeared right when you enter your address.

[2017-04-30 18:20] nickoneill opened #159 "Refresh issues list periodically"
Some (probably less-tech savvy) people email us and say that the issues list doesn't refresh day-to-day. I suspect this is older users who infrequently use their device (sometimes iPads) so the app isn't getting killed between launches, leading to out-of-date issues.

Two things we could do here:
* Provide automatic refresh when the app is foregrounded if the issues haven't been refreshed in ~12 h

[2017-05-01 00:45] nickoneill commented on #156
Ah, I see what you're saying. For sure, it feels way better to say "I made 5 calls to senator such-and-such's office" than "I made 5 calls." I'll figure out how we can work this sort of thing in across the platforms.

[2017-05-01 21:42] mccarron commented on #141
Closed by #160. Thanks @rebeccatron!

[2017-05-01 21:42] #141 closed

[2017-05-04 07:37] ericallam opened #161 "Expatriate Support: Prepend phone number with US Country Code +1"
Currently when tapping a phone number from outside of the US, the call will not work because the US Country Code +1 is not present. Appending the +1 should happen automatically if the location of the phone is outside the US. Could also investigate just including the +1 for all calls, or including it as a setting.

[2017-05-04 07:39] ericallam opened #162 "Add option to copy phone number for pasting into Skype, etc"
Another one that would be really useful for expats: adding Skype as a call option. Skype is able to call US mobile/landlines (as long as your Skype account has a phone number and Skype credit) and is usually much cheaper than just calling to the US through the cell carrier.

[2017-05-04 17:12] piebob commented on #148
i'd suggest this is fairly high priority--we get a lot of people emailing who don't know there are a whole bunch more issues.

[2017-05-08 04:56] nickoneill commented on #161
Thanks @ericallam! We'll be adding this to all numbers shortly.

[2017-05-10 21:43] #152 closed

[2017-05-11 20:00] mccarron commented on #159
Closed by #163

[2017-06-07 16:14] #148 closed

[2017-07-22 14:06] subdigital commented on #161
@nickoneill is this being done yet? Do you have an issue to link to on the server repo?

I'm not against adding an option in the iOS app, but would be easier to fix globally.

[2017-07-22 16:30] #159 closed

[2017-07-22 17:13] subdigital commented on #158
Sorry for the late response on this. This feature does exist, however it only prompted you if you changed your location from the issue detail screen. There are 2 places you can set your location from and the handling of this action is duplicated, so I need to revisit this design. A few things are in flux right now that will affect this so I will make sure this gets implemented as part of this work

[2017-07-22 17:13] #158 closed

[2017-07-22 17:14] subdigital commented on #161
Another thought on this, we might want to not display the "+1-" by default on the call screen, so if we do end up doing this on the server we'll probably strip it out for display only.

[2017-07-22 17:15] subdigital commented on #156
👍 this would be pretty huge in areas like mine :)

[2017-07-22 18:37] nickoneill commented on #161
We did some prep to add +1 to numbers via the server, it needs to be tested with the existing version of the app before we start rolling it out.

Is there a reason to strip the +1 for display in some cases?

[2017-07-22 18:41] subdigital commented on #161
Only that it looks “weird” for most Americans :P

It also might make things more compact on the SE device.

[2017-07-27 19:49] nickoneill opened #168 "Support server-driven outcome buttons"
The server already sends a list of button values for a particular issue. We should create the action buttons based on these values.

[2017-09-23 05:08] nickoneill commented on #168
all done

[2017-09-23 05:08] #168 closed

[2017-09-23 05:09] nickoneill opened #171 ""Line busy?" should be "Local Office Numbers""
Text change! It's not clear to users that local office numbers hide behind this label.

[2017-09-23 05:13] nickoneill opened #172 "Register for OneSignal remote notifications"
Currently partially complete in branch `nick-notifications`

* Ask users if they want to get breaking issue notifications, either all or only important ones, after they complete the calls on their first issue.
* Requires notification extension, which means bumping to min version iOS 10 which is OK

[2017-09-23 05:14] nickoneill opened #173 "Implement native review prompt"
We should ask the user to leave us a review using the native review prompt after the user has completed x number of calls

[2017-09-23 05:15] nickoneill opened #174 "Group by category on the more issues page"
We already send category names along with the issues on "more issues", these should be organized by their category with a nice little header.

(may want to consider using the new `all=true` query param which fetches all issues at once rather than active, then inactive later)

[2017-09-23 05:21] nickoneill opened #175 "Informational screen for people who copy scripts"
(I recall a bunch of discussion on this previously but I can't find a branch where any work had been done here... correct me if I'm wrong though)

Copying scripts for faxes or emails is never going to be a thing we can prevent but at least we could inform people why they should call instead when they're doing this.

* If a user selects and copies the text in a script, the copy should be successful

[2017-09-27 20:31] nickoneill opened #176 "More issues has no back button on iPad"
Should be easy to get back to the main list of issues from more issues.

![20170927_132945](https://user-images.githubusercontent.com/49688/30936258-1b088da8-a388-11e7-9377-3e7b7f622079.jpg)

[2017-09-27 21:36] subdigital-gitbot opened #177 "IssuesViewController.swift line 118"
#### in specialized IssuesViewController.shouldPerformSegue(withIdentifier : String, sender : Any?) -> Bool

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/59cc19f1be077a4dcc5ce078?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fi

[2017-09-27 22:04] nickoneill commented on #177
This is from version 1.2, safe to ignore

[2017-09-27 22:04] #177 closed

[2017-10-06 03:03] Abizern commented on #142
Image links seem to be broken. :(

[2017-10-06 03:05] Abizern commented on #173
Maybe even after X number of calls on Y separate days?

[2017-10-06 19:31] nickoneill commented on #142
This may be moot considering some recent visual changes in https://github.com/5calls/ios/pull/166, checkin with @ianyh here

[2017-10-06 19:33] nickoneill commented on #173
I'm not sure the days component is required - there is a contingent that likes to make all the calls but I suspect the much more common situation is returning to the app when a user sees another mention on twitter for another issue they care about.

Are you interested in implementing this @Abizern?

[2017-10-06 20:12] ianyh commented on #142
What I had mocked up generally moved towards using blue for indicating completion, both the marker in the list and the buttons to set results. Green would be reserved for the actual call action. It doesn't have a sense of partial completion, though, which is kind of compelling.

[2017-10-06 20:28] Abizern commented on #173
Sure, I'll give it a shot.

Questions:
- What value of x should we go for?
- Is there a restriction on when the review request is made? for example, if the user has just completed one call and is going on to the next, is that a good time to pop up an alert?
- Is there tracking in the app, if so, how do we want to track this?

[2017-10-06 20:35] nickoneill commented on #173
Awesome! Send me an email if you want an invite to our slack as well - participating on github is fine, I understand all too well if yet another slack is just another distraction.

* Let's say 5 completed calls (i.e. they've reached the end of the list of contacts five times, doesn't matter if those contacts were contacted, voicemail, skipped, etc)
* We don't have a great UX flow for finishing a g

[2017-10-06 21:39] Abizern opened #179 "Update the project to Swift 4"
I'm working on a basic migration - PR to follow.

[2017-10-06 23:12] Abizern opened #180 "Logo in navigation bar doesn't play well with the iPhone X notch"
Still a couple of weeks left to solve this.

![simulator screen shot - iphone x - 2017-10-07 at 00 09 08](https://user-images.githubusercontent.com/6902/31301792-96bd5514-aaf4-11e7-9cb2-d8ead37d7e41.png)

[2017-10-07 11:59] Abizern opened #182 "Remove Pantry pod"
Depends on #179.

The project uses Pantry for deserialisations and storage. As noted in Pantry's README, it is no longer going to be supported.

So we should probably refactor to use the Codable protocol available in Swift 4. Not a small job.

[2017-10-07 16:27] nickoneill commented on #182
Sorry :(

[2017-10-07 16:30] subdigital commented on #182
You can blame me for trusting you.  I TRUSTED YOU!

;)

[2017-10-07 17:30] mccarron commented on #182
We all believed in youuuuuuu

[2017-10-08 18:20] Abizern commented on #180
Who's the lead on design for the mobile apps?

[2017-10-08 18:46] subdigital commented on #180
It's been a group effort.  I started the app following the design of the web app. Later started to move more toward more native conventions, after receiving some excellent design feedback from , which has been addressed somewhat, but not entirely.

@ianyh @nickoneill and myself can provide some direction or validation if you have a specific question, otherwise just go for what you think will work

[2017-10-08 22:57] #179 closed

[2017-10-09 01:38] Abizern opened #183 "Move to UNUserNotification now that UILocalNotification is deprecated"
Since the base SDK is iOS 10 these warnings are showing up in Xcode. Probably a good idea to move away from the deprecated methods.

[2017-10-09 01:38] Abizern opened #184 "Clear up Autolayout warnings"
There are a few autolayout warnings in the Storyboards that can be cleared up.

[2017-10-09 01:43] Abizern opened #185 "UITest Failure - Can't find "Defend the Affordable Care Act Static text""
the `testTakeAScreenshot()` test is failing because this static test cannot be found.

[2017-10-09 04:16] Abizern opened #187 "Use the native SKStoreProductViewController for when a user manually wants to leave a review."
In the About page of the app, one of the options is to leave a review. This creates URL than is opened in Safari.

Another option would be to push an SKStoreProductViewController with the iTunes app id, which would open the view within the app rather than externally to the app.

Just a thought, comments are welcome.

[2017-10-09 16:29] nickoneill commented on #187
Yep, there's no benefit to going to the store in Safari. Let's share whatever we can from the native rating work you're doing in #186 for this location too!

[2017-10-09 16:54] Abizern commented on #187
IMO there is no overlap. This just needs to push a different view controller. Unfortunately, testing it is a bit difficult as I’m registered with the UK store, so I’ll need someone else to verify my implementation. I’m thinking I’ll just write the new code and add it to my current PR.

[2017-10-09 17:37] nickoneill commented on #187
Sure thing, happy to test it out in the US

[2017-10-09 18:36] Abizern commented on #187
Okay, I've looked into this a little bit more and my original solution isn't going to work. SKProductViewController isn't supposed to be used for rating apps.

So, I'll use the native request from #186 for this if the device supports it, and fall back to the original method otherwise.

The only worry I have is that as we have no control over whether or not the prompt actually shows following the r

[2017-10-10 00:43] nickoneill commented on #185
This one was pretty solid for a while but now isn't on the list anymore. If it doesn't matter which issue, let's just select #2 on the list. Otherwise maybe we have to start mocking these requests in tests?

[2017-10-10 00:55] subdigital commented on #185
Not near a computer but IIRC this was served from a static json file for tests...

Sent from my iPhone

[2017-10-10 00:56] nickoneill commented on #180
Playing around with some options that would shorten the header for all platforms...

<img width="771" alt="screen shot 2017-10-09 at 5 53 07 pm" src="https://user-images.githubusercontent.com/49688/31364641-067e2eb4-ad1b-11e7-9639-40deda05b549.png">
<img width="757" alt="screen shot 2017-10-09 at 5 53 41 pm" src="https://user-images.githubusercontent.com/49688/31364642-0696436e-ad1b-11e7-9138-b610

[2017-10-10 01:48] Abizern commented on #180
FWIW, I like the second header. I think it looks clean and the notification button is at the top right which is more natural for most people.

Maybe to keep to the colour scheme, you could make the top star of the logo red?

[2017-10-10 22:24] #184 closed

[2017-10-10 22:27] #185 closed

[2017-10-10 22:39] #173 closed

[2017-10-10 22:39] #187 closed

[2017-10-10 22:42] nickoneill commented on #180
Yeah, the second option feels good too. We've used the stars alone before, I think we can get away with it here without changing the colors.

If notifications here is going to be both local reminders and options for remote, I wonder if it makes more sense to make it a "settings" gear and then drop you into the about controller where notification settings can live alongside about info.

[2017-10-10 22:50] nickoneill opened #190 "Header alignment for issue list"
I may have been a bit overzealous with that last storyboard merge...

<img width="396" alt="screen shot 2017-10-10 at 3 45 07 pm" src="https://user-images.githubusercontent.com/49688/31414442-c5ef374a-add2-11e7-9898-ca995ea12ca2.png">

[2017-10-10 22:52] Abizern commented on #190
That’s weird, I don’t think I touch the cells. Would you like me to take a look at it?

[2017-10-10 22:53] nickoneill commented on #190
Nah, I'll check it out. Just capturing here for clarity.

[2017-10-10 23:01] Abizern commented on #180
Using a gear might be a better option. Looking at this again, having a rendered bell rather than a line icon (if you know what I mean) seems a bit out of kilter with modern UI.

[2017-10-10 23:03] subdigital commented on #180
That rendered bell is an emoji I think, and I don’t think we ever intended to keep it 😜

In fact, now I remember…. I wanted to use something from Parakeet Primaries (I own it), but since this is open source I was cautious. I asked for permission from Louie on twitter, but I don’t think I ever heard back.

[2017-10-10 23:05] nickoneill commented on #180
Yeah, I just happened to have an emoji bell in sketch when doodling this. Lemme see if I can find an icon for settings...

[2017-10-10 23:11] Abizern commented on #180
I've got one from Glyphish
<img width="96" alt="screen shot 2017-10-11 at 00 09 53" src="https://user-images.githubusercontent.com/6902/31415002-999cc34c-ae18-11e7-8fec-fee36c5e5455.png">

I own it and the licence states: "You're free to use these icons for commercial and non-commercial purposes, for yourself, your company and your clients, and to edit, remix and otherwise modify them without attr

[2017-10-10 23:12] subdigital commented on #180
I met the glyphish guy at a conference a while back. Pretty sure he’d be thrilled at us using it :)

[2017-10-10 23:12] nickoneill commented on #180
![5calls-settings 2x](https://user-images.githubusercontent.com/49688/31415036-bb7003e6-add5-11e7-8f95-e46e18bf25b1.png)
![5callslogo 2x](https://user-images.githubusercontent.com/49688/31415037-bb89806e-add5-11e7-8fa9-992ac887615b.png)

[2017-10-10 23:13] nickoneill commented on #180
I'm a bit more fond of the UI8 one posted above (similar "do whatever" license). Does it make sense to have the color baked in or do it in code?

[2017-10-10 23:14] Abizern commented on #144
Related to this - How tied are we to using Roboto rather than the system font? This would be much smaller task if that were the case.

I realise that there may be issues about maintaining a consistent typeface across Web, Android and Mobile. I also realise that it is something of a personal bugbear of mine to use the Android system font on an iOS device.

Of course, this would mean making other re

[2017-10-10 23:14] ianyh commented on #180
Template images with tint colors is usually better because they support accessibility options for things like color inversion.

[2017-10-10 23:15] ianyh commented on #180
Also, I think I have a vector rendering of the stars icon somewhere that I can dig up.

[2017-10-10 23:16] nickoneill commented on #180
![5calls-settings 2x](https://user-images.githubusercontent.com/49688/31415138-5e21deac-add6-11e7-9f81-a5275725f6af.png)

[2017-10-10 23:18] Abizern commented on #180
If the image is a solid colour, then, as @ianyh says, template image with tint is a better option.

[2017-10-10 23:19] nickoneill commented on #144
I'm happy to use the default for the platform for most text, particularly if it makes things simpler. The only case I really care about maintaining the font is in the logo which is generally not dynamically rendered anyway. We didn't pick Roboto (and technically it's Roboto Condensed) based on android, it was inherited from the logo usage when we were web only.

[2017-10-10 23:24] Abizern commented on #144
I don't want to mess with the logo, and that's not something that's affected by this.

If a few more people come in on the same side I'll start work on it in a couple of days (unless someone else wants to take it). It's a good step for accessibility.

[2017-10-10 23:26] Abizern commented on #183
It probably makes sense to wait for #172 and #170 before doing this. Not sure.

[2017-10-10 23:27] subdigital commented on #144
+1 on native font

[2017-10-10 23:42] Abizern commented on #182
If I say "How about decodable for de-serialisation and Core Data for persistence"? will I be chased out of town with pitchforks?

[2017-10-11 01:31] subdigital commented on #182
Why not codable for both? Works really well 😎

Sent from my iPhone

[2017-10-11 03:22] nickoneill commented on #190
Fixed in #191

[2017-10-11 03:22] #190 closed

[2017-10-11 03:32] nickoneill commented on #182
I'm a believer in decodable for it's simplicity, obviously.

FYI, I expect the user stats will be stored on the server sooner rather than later. So will eventually be a lot less data we're actually keeping track of here.

[2017-10-11 21:21] Abizern commented on #175
This has already been done. However, it only works the first time you try and copy something. After that no alert appears, but noting gets copied. I haven't looked into why this happens yet.

<img width="363" alt="screen shot 2017-10-11 at 22 19 21" src="https://user-images.githubusercontent.com/6902/31467632-8b0a9c04-aed2-11e7-8b20-493dec7fce7e.png">

[2017-10-12 19:15] Abizern opened #192 "Switch to System Font instead of Roboto family"
Should make #144 easier.

[2017-10-12 23:46] indraShan commented on #174
@nickoneill
First timer, so may be a stupid question. If I understand the issue correctly: on 'more issues' screen (after tapping 'more issues' cell from Home) we want to group issues by their category, is this correct? But on Home we don't want any changes (i.e. continue showing all issues together like the app does now).

Currently category is not even parsed by the app (it is being sent by the

[2017-10-12 23:53] nickoneill commented on #174
Exactly correct @indraShan. Categories are attached to each issue so you'll have to look through to see which categories exist, then organize the issues into groups based on what you have.

If you're gonna take a shot at this, just mention it here so anyone else who stops by knows it's being worked on.

[2017-10-13 00:15] nickoneill commented on #175
Ohhh, I see. Interesting. Thanks for looking in to this.

[2017-10-13 05:13] indraShan commented on #174
@nickoneill I will give it a shot.

[2017-10-13 15:36] nickoneill commented on #174
Awesome, let me know if you have any questions.

[2017-10-14 21:11] subdigital-gitbot opened #193 "IssuesViewController.swift line 58"
#### in IssuesViewController.ViewModel.init(categories : [Category], showAll : Bool) -> IssuesViewController.ViewModel

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/59e27d9861b02d480d9477d6?utm_medium=service_hooks-github&utm_source=issue_impact](https://f

[2017-10-14 23:50] nickoneill commented on #183
Yeah, I'll mess around with #170 this week.

[2017-10-15 03:53] indraShan commented on #193
This is not a bug/actual crash. Forgot to disable Fabric while developing - sorry about that.

[2017-10-15 05:02] indraShan commented on #176
Is anyone working on this? Should I attempt?

[2017-10-15 16:25] nickoneill commented on #176
I don't think anyone is working on it. It may be inconsistent, and definitely check on both iOS 10 and 11.

[2017-10-15 16:27] nickoneill commented on #193
No worries - was there a situation where you were setting this to the release build? AFAIK fabric shouldn't send crash reports from debug builds.

[2017-10-15 16:27] #193 closed

[2017-10-15 21:18] nickoneill commented on #182
Not sure if we want to be ambitious enough to get this in the next release. Please advise.

[2017-10-15 21:21] Abizern commented on #182
I don’t think so. I need to finish the font stuff first. Also, I don’t want to rush the migration testing for whatever we do, so let’s stick with Pantry for now. It works. It’s just that it’s not supported going forwards. If things get really messed up I’m sure we can get the owner to do something.

[2017-10-15 22:17] nickoneill commented on #182
Yeah, that jerk.

[2017-10-15 22:24] Abizern commented on #182
Also - re cloud sync. Won't that require some kind of log in? An extra hurdle. An extra bit of inertia. I was thinking, maybe CloudKit so that stats are kept between iPhone and iPad apps for the single user. We could even do a macOS app (it's been a while since I've done them and it would be a good excuse for me to get back into it).

Just something to think about and we can discuss it somewhere e

[2017-10-31 15:46] nickoneill commented on #180
The egregious stuff is fixed in #197, gonna keep this open for the moment for the alternate headers

[2017-10-31 16:15] Abizern commented on #180
👍

--
Abizer

[2017-11-07 16:34] nickoneill opened #198 ""Made Contact" not showing on iPads"
Had a report that the new outcomes is not showing made contact :(

[2017-12-19 21:10] nickoneill commented on #174
fixed in #194

[2017-12-19 21:10] #174 closed

[2017-12-20 20:02] nickoneill opened #199 "auth0 Login"
Let's implement login so we can doing things like track stats across devices.

Lacking design at the moment, so let's keep things simple and we can improve as the functionality comes together. Spec and auth0 keys are on slack.

[2018-01-22 19:50] #172 closed

[2018-01-22 19:50] #180 closed

[2018-01-26 22:35] nickoneill commented on #199
Fixed

[2018-01-26 22:35] #199 closed

[2018-01-26 22:38] nickoneill opened #202 "Backfill stats for logged in users"
Once users are logged in, their stats can be backfilled using the following format:

[code]

Up to the implementer if it's useful to keep the local calls around in Pantry.

[2018-01-26 22:40] nickoneill opened #203 "Get logged-in user stats from server"
Now that we have a way for users to log in, stats for said users should be populated from the server's profile info:

[code]

That'll get you something like this:

[code]

[2018-01-29 04:22] mccarron commented on #176
This one is a bit tough, the top bar on the iPad blocks where the Navigation Controller would be (it's not a thing on the iPad split view, but blocks it when I add one). I'm going to try to create a few tweaks to get something like this to work properly and look good.

![simulator screen shot - ipad air 2 - 2018-01-28 at 22 21 41](https://user-images.githubusercontent.com/45654/35493531-b75f127e-0

[2018-01-29 06:23] #198 closed

[2018-01-30 03:26] #171 closed

[2018-02-01 21:38] piebob opened #206 "skip issue behaves differently on iOS than elsewhere"
"if I Skip an issue it marks it as Complete, but on the iOS version it does not. Can you please add an iOS preference, or else change the app completely, so that Skip marks an issue as Complete?"

[2018-02-02 19:11] mccarron commented on #206
I can do that this weekend if @subdigital and @nickoneill agree.

[2018-02-02 20:25] nickoneill commented on #206
People can be somewhat fussy about how this behaves... I'm trying to think about what makes more sense as a default behavior. If we make the change where skip -> completed, people will definitely complain that their method of tracking who they have/havne't called is changed.

I would prefer to leave it as-is and implement the circular contact progress indicator. That way people who only call 2-of-

[2018-02-02 20:48] piebob commented on #206
i don't have an opinion of how it should behave--what you suggest is fine by me--but i do think it should behave exactly the same way on every platform.

[2018-02-02 20:56] mccarron commented on #206
I agree with keeping it consistent cross platform, maybe in the `circular contact progress indicator` implemented future we can align everything.

[2018-02-06 02:23] nickoneill opened #207 "Add circular progress indicator for issue completion"
Some folks can't call everyone at once, others only call a smaller selection of reps than what we send. It would be useful to provide a progress circle to let people know how far along they are if they haven't completed their reps.

At least partially implemented in #196 (and it looks like it might even be complete), it may be worthwhile to refactor this into its own PR.

[2018-02-06 02:26] nickoneill commented on #206
For sure, I envision the same behavior in all places. I added issues specifically for this to ios, android and web. Closing this.

[2018-02-06 02:26] #206 closed

[2018-03-08 19:12] subdigital-gitbot opened #208 "libxpc.dylib"
#### in _xpc_api_misuse

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5aa18b288cb3c2fa639c062b?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5aa18b288cb3c2fa639c062b?utm_m

[2018-04-17 02:34] subdigital commented on #208
Not sure there's anything we can do about this one...

[code]

[2018-04-17 02:34] subdigital commented on #208
iOS 9 too, meh

[2018-04-17 02:35] subdigital commented on #203
Being worked on in #209

[2018-04-17 02:35] #203 closed

[2018-04-17 02:36] subdigital commented on #202
Addressed in #209

[2018-04-17 02:36] #202 closed

[2018-04-17 02:37] #175 closed

[2018-06-16 18:21] nickoneill opened #212 "1.5 Release"
- [x] Public changelog details
- [x] Feature testing
  - [x] Login should work on twitter / fb
    - Both logins work OK
  - [x] Login correctly saves old calls into user
    - Yep
  - [x] Login correctly reports streak & call numbers from server
    - Yep
  - [x] iPad: More Issues Back Button. #176
  - [x] iPad: Made Contact not showing #198
  - [x] Notifications: request when you're done a call

[2018-06-18 14:50] #176 closed

[2018-06-18 22:42] nickoneill opened #213 "Contact and issue completion circles are not working"
We opted to keep the local results because they were powering the circles that indicate when both an issue was complete, and when you had called a contact in the contact list.

It looks like something that happened during that transition stopped these circles from indicating progress. @melville maybe you know more about this?

[2018-06-19 14:50] melville commented on #213
I took a look at this issue but I don't see a mechanism in `CheckboxView` for indicating partial progress, so I'm not sure how this is supposed to work.  I don't see anything in `IssuesViewController` that's trying to figure out whether there is partial progress when it's setting up its cells either.  It's certainly possible that I'm missing something, but it doesn't look like there is any code th

[2018-06-19 15:12] nickoneill commented on #213
Sorry, I think I confused you with the wrong terminology.

You're correct there's no indication that you've called 1/3 contacts for a particular issue (except for the individual completion checkmarks on each contact). But the issue checkmark should show up when you have made *all the calls*, so people can track which issues they've called and which they have not.

[2018-06-19 15:33] melville commented on #213
In that case I'm not able to reproduce the issue.  I am seeing the checkmark next to the issue in the list after I've made all the contacts.  Do you have any steps that will reproduce the problem?  Maybe this only happening under certain circumstances or on certain devices or versions of iOS.

[2018-06-19 21:09] nickoneill commented on #213
Nevermind! Works fine, I was just using "unavailable" to test which... naturally doesn't mark them as contacted.

[2018-06-19 21:09] #213 closed

[2018-06-22 17:03] nickoneill opened #214 "Markdown not parsing in descriptions and scripts"
I just tested a couple markdown examples in the description and script and it doesn't look like they're parsing correctly to styled text.

Can you take a look @mccarron? Let me know if you need me to add test markdown to an older issue, I removed it from this issue after I tested.

Both of the screens below have text that has `__test markdown__` which should be bold

[2018-06-22 17:04] nickoneill commented on #214
![img_3174](https://user-images.githubusercontent.com/49688/41789305-b2eb6700-7603-11e8-8fdb-802273078ec4.PNG)
![img_3175](https://user-images.githubusercontent.com/49688/41789306-b32a4e5c-7603-11e8-932b-9327ae099671.PNG)

[2018-06-22 19:12] mccarron commented on #214
Yeah we didn't add Markdown support yet just a pod that adds the ability to parse Markdown. You said the API didn't have Markdown yet so there wasn't anything to do. ;)

Can we get some Markdown onto a Staging/Test API to build this out?

[2018-06-22 20:22] nickoneill commented on #214
I don't have a staging API for the main issues list (it's getting moved to a different server soon that already has a staging API) but I added some test markdown to an issue on the more issues list: "Protect the Right to Fight Workplace Sexual Harassment"

Let me know if that works OK.

[2018-06-22 20:24] mccarron commented on #214
Sure that'll work, I'll take a look at hooking this up either tomorrow or Sunday then.

[2018-06-26 17:49] nickoneill commented on #214
🏓

[2018-06-27 14:33] nickoneill commented on #162
That sounds like a good first step rather than thinking about specific support for various calling apps @lazerwalker - let me know if you have any questions if you start a PR.

[2018-06-27 14:37] nickoneill commented on #161
I wonder if it would be weird to keep the display as `XXX-XXX-XXXX` but have the number dialed include the +1. All numbers from the server don't include the +1 right now, and I'm not sure they should. Is there a situation where we'd have a non-+1 number?

[2018-08-06 18:28] nickoneill commented on #214
Done!

[2018-08-06 18:28] #214 closed

[2018-08-06 18:28] nickoneill commented on #212
Nice work here all

[2018-08-06 18:28] #212 closed

[2018-08-06 18:29] nickoneill commented on #207
As mentioned here: https://github.com/5calls/5calls/issues/415

We should adjust completion so skipping does not count towards finishing a set of calls. The indicator will be helpful in letting folks track how many calls they've completed if they did half.

[2018-08-06 20:41] foozmeat opened #216 "Increase the contrast of the text on the "Enable Reminder" screen"
I find it hard to read on my phone. I think using the regular blue color here would be fine.

![img_aaca91d653c2-1](https://user-images.githubusercontent.com/419456/43739831-3d744066-997e-11e8-9406-4a81c1630e25.jpeg)

[2018-08-06 20:47] subdigital commented on #216
Agree it’s hard to read but we should avoid using blue color for things that aren’t interactive.

[2018-08-06 20:53] foozmeat commented on #216
fair enough

[2018-08-06 23:49] nickoneill commented on #216
What about good old #000000

[2018-08-07 01:00] subdigital commented on #216
I think lower contrast is better, but perhaps not as much as it is now.

Sent from my iPhone

[2018-08-08 18:10] subdigital-gitbot opened #217 "IssuesViewModel.swift line 77"
#### in ActiveIssuesViewModelFiveCallsIssuesViewModel

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5b6b31f96007d59fcd369705?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/

[2018-08-08 18:12] nickoneill commented on #217
Just uploaded the dsym for 1.5

[2018-08-13 22:52] nickoneill opened #218 "Funky header on iPhone Plus Sized Screens after Rotation"
It appears that after a rotation on a Plus sized iPhone screen that uses the Split View Controller the menu bar is not laid out properly.

![file](https://user-images.githubusercontent.com/49688/44062327-b370efc0-9f10-11e8-8c67-15fe79de8337.jpg)

Original Report:

I know we touched this recently for the iPhone X, but it looks fine on my iPhone 7+ (iOS 12... but I don't think we've messed with the

[2018-08-15 17:37] subdigital-gitbot opened #219 "Share Button Crash on Call Script Screen"
* When selecting the Share Button on the Call Script Screen the app crashes.

Original Crash Log Below

#### in -[UIResponder doesNotRecognizeSelector:]

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5b7464d46007d59fcde079bf?utm_medium=service_hooks-github&

[2018-08-16 19:09] mccarron commented on #218
I'll take a look this weekend at this and the two crashes.

[2018-08-17 18:54] nickoneill commented on #218
Thanks!

[2018-08-17 20:10] nickoneill opened #220 "Titles are truncated on the more issues page"
A user reports that her "more issues" page looks like this:

![p8y2aori-2](https://user-images.githubusercontent.com/49688/44286863-6ceda680-a21f-11e8-8efa-632cfabe3da2.jpg)

It doesn't look like this for me on iOS 12. User says iPhone 7+ on 11.4.1

[2018-08-17 20:17] nickoneill opened #221 "Share url uses the old /#issue/ structure"
We should adjust to:

`https://5calls.org/issue/<issue slug>`

[2018-08-17 20:29] subdigital-gitbot opened #222 "IssuesViewController split screen crash on iPad & iOS 10.3.X"
#### in IssuesViewController.viewDidLoad() -> ()

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5b7730286007d59fcd158323?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5b773

[2018-08-19 20:31] mccarron commented on #222
Seems to be reproducible only on iOS 10.3.3 on an iPad while using Split Screen Mode. iOS 11+ doesn't have the issue. It seems to be related to R.swift as well, or at least it's causing me debugging headaches for the true issue.

Since I can't find an easy way to disable it for iOS 10 only, and it only has happened I'll leave it open for now.

[2018-08-20 01:42] mccarron commented on #217
Can't find a key to this, but noticed it starts the stack trace from `IssueScriptCell.swift` which had a hard reference to the View Controller so trying making that `weak` as a fix.

[2018-08-20 02:16] mccarron commented on #218
This is reproduced by rotating and un-rotating the device.

[2018-08-20 03:44] mccarron commented on #220
@nickoneill I can't seem to reproduce this. Did they say it shows this every time? If not, can we get reproduction steps if they think they can reproduce it?

[2018-08-20 15:55] nickoneill commented on #220
I will check

[2018-08-21 19:43] nickoneill commented on #220
They just open the app and go to more issues and this is what they see. I'll check around with a few settings. Maybe font size accessibility?

[2018-08-21 19:59] #218 closed

[2018-08-21 20:20] nickoneill commented on #220
Yep, if you turn larger accessibility sizes on (at about 33% and above), you get just one line of truncated title. Looks like we don't honor that setting on the front page list.

Not sure what effort is required for making the cells auto-height to the full text size. If it's excessive, let's disable accessibility sized text on the more issues cells and do a full run through in the next release.

[2018-08-24 15:32] subdigital-gitbot opened #226 "IssuesViewController.swift line 87"
#### in IssuesViewController.viewWillAppear(Bool) -> ()

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5b80251c6007d59fcdb5666d?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issue

[2018-08-29 18:46] #221 closed

[2018-08-29 18:47] #217 closed

[2018-08-29 18:47] nickoneill commented on #226
Is this the same as the other one @mccarron?

[2018-08-29 18:50] nickoneill opened #227 "Logged-in Users are seeing incorrect call counts"
A few complaints from iOS folks recently that they've signed in and their call counts have dropped from their previous totals.

At first I thought this was the backend code for uploading stats for users, but it appears that it works fine. For example, here's the stats I see on the backend for a user:

[code]

They report that the impact screen shows 35 week streak (correctly), but only 3 calls mad

[2018-08-29 21:13] subdigital commented on #227
Indeed that is the case. It's just looking at the saved pantry store. Looking at where this data is fetched / stored locally.

[2018-08-29 21:16] nickoneill commented on #227
There's a call to `https://api.5calls.org/v1/users/stats` which is where the remote stats are coming from, so we should be getting the right data there.

I know we opted to keep some features relying on local data... if this isn't working correctly it might be worth using the remote data entirely.

[2018-08-29 21:18] subdigital commented on #227
On 2nd look, I take that back. It is merging these 2 types of data, but the server stats are not being fetched on this screen. I think I can get a quick PR up to address this.

[2018-08-29 21:30] subdigital commented on #227
Ah, it was fetching, but in a roundabout way (posting a profile changed notification manually).

[2018-08-29 21:50] subdigital commented on #227
Made some changes while looking into this #228, it's working for me so I'm not sure what else to do for now. Everything looks okay.

[2018-09-01 04:43] subdigital-gitbot opened #229 "IssuesViewController.swift line 136"
#### in IssuesViewController.(issuesLoaded(result : IssuesLoadResult) -> ()).(closure #1)

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5b8a190c6007d59fcd65bbdd?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fickle-bits/ios/apps

[2018-09-02 02:05] #219 closed

[2018-09-02 16:15] #220 closed

[2018-09-02 16:51] nickoneill commented on #227
Merged #228 in for this. Thanks @subdigital

[2018-09-02 16:51] #227 closed

[2018-09-04 20:37] subdigital-gitbot opened #231 "CoreFoundation"
#### in _CF_forwarding_prep_0

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5b8eecff6007d59fcdba474f?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5b8eecff6007d59fcdba474f

[2018-09-05 20:48] nickoneill opened #233 "Call results are double-submitted"
It looks like we're double-counting calls when people are logged in on iOS. See this view into the database:

<img width="648" alt="screen shot 2018-09-05 at 1 43 17 pm" src="https://user-images.githubusercontent.com/49688/45120108-108cf100-b112-11e8-970f-a7ced9366127.png">

Since we're still keeping local records of call results, it looks like we're creating them without marking them as already u

[2018-09-05 20:50] nickoneill commented on #233
(I also see a record of this *not* happening with logged in users on iOS, so it might be more complicated than just "we don't mark them as uploaded")

[2018-09-06 03:07] subdigital-gitbot opened #234 "com.auth0.authentication"
#### in 1

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5b909a096007d59fcdd6d067?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5b909a096007d59fcdd6d067?utm_medium=service_

[2018-09-11 11:55] subdigital-gitbot opened #237 "com.auth0.webauth"
#### in 0

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5b97ad2d6007d59fcd5575a0?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5b97ad2d6007d59fcd5575a0?utm_medium=service_

[2018-09-14 21:47] nickoneill opened #238 "Update to Swift 4.2"
Run through the app in the sim for new devices as well and make sure everything looks OK. I haven't heard of any weirdness in other apps, so I don't expect anything huge.

[2018-09-14 21:48] nickoneill commented on #192
This is done, right @subdigital?

[2018-09-14 21:50] subdigital commented on #192
Not sure, will have to grep to verify...

[2018-09-14 21:52] nickoneill opened #239 "Replace Fabric with something else for Crash + Analytics"
Things that are important in this service:

* iOS and Android support
* Analytics for users over time
* Crash reporting
* Logins for team members (so @subdigital, @mccarron, @dektar and others can see this data without sharing logins)

Nice-to-have:

* Push notifications (we use onesignal now, but would love to have one less service
* Free is nice, but not required (we have credits on Google and A

[2018-09-14 21:55] subdigital commented on #239
I’d like to recommend considering http://appcenter.ms <http://appcenter.ms/>. I’ve had a positive experience with it on a couple of projects. Bonus: their SDK is open source, so you know what they’re doing by embedding it in your app.

[2018-09-14 22:08] nickoneill commented on #239
Nice, I haven't seen this in action yet. I'll check it out, not contribute to google knowing everything is a bonus.

[2018-09-14 22:34] nickoneill opened #240 "Migrate to UserNotification framework"
Using a bit of LocalNotification and the old UIUserNotificationSettings stuff for local and remote notifications. It's deprecated since iOS 10, we should start moving away from it.

[2018-09-23 11:35] Abizern opened #241 "Cells don't resize correctly after rotation"
When rotating from Portrait -> Landscape -> Portrait the cells do not resize correctly. There is too much vertical space.

Scrolled cells do resize though.

![1 - initial portrait](https://user-images.githubusercontent.com/6902/45927575-2893ab80-bf2d-11e8-9139-4585e35a4a64.png)

![2 - rotated to landscape](https://user-images.githubusercontent.com/6902/45927577-2c273280-bf2d-11e8-97a3-1a3683b46599

[2018-09-23 11:53] Abizern commented on #192
Sorry I've been remiss about this.

I'm having a look at the current master and there are comments that the styles are being set for consistency with the Web - i.e. fonts being condensed and bold. getting rid of Roboto will break this. Just checking that this is still the way you want to go and that a different appearance between the web and the app is acceptable.

[2018-09-23 18:02] nickoneill commented on #241
Good catch @Abizern! I'm a never-rotate guy and I always forget to test this.

[2018-09-23 18:03] subdigital commented on #241
I’d vote for disabling rotation myself, but since we have the iPad app I’m not sure that’s a good idea.

[2018-09-23 19:36] Abizern commented on #241
I think it's fixable, myself.

[2018-10-05 18:48] #192 closed

[2018-10-09 22:08] iainsmith commented on #144
Hey All,

I've started diving into this. As we're supporting iOS 10 we can mostly get away with using

`adjustsFontForContentSizeCategory = true // or set in storyboard`
`font = UIFont.preferredFont(forTextStyle: .body) // or set in storyboard`

I have a branch on my fork that I'll open up a WIP PR for.

# Screens updated

I'm going to leave a list of areas here to remind myself.

### IssueDetailV

[2018-10-12 17:20] nickoneill opened #247 "Users seeing local results / session refresh problem"
Still seeing some user reports of server stats not showing consistently, even though I can't reproduce the problem on my device. The reports match with 401 errors (unauthorized) on the server, so I'm guessing it has something to do with the re-auth cycle. Keep in mind 401 errors aren't sent back on every request (the issues request doesn't require auth, so it doesn't check for it) so the first tim

[2018-10-15 18:36] iainsmith commented on #247
Does the app make strictly one api request at a time or do parallel calls happen?

[2018-10-15 19:34] nickoneill commented on #247
Currently one at a time - this one should always be a serial request, in `FetchStatsOperation` I think.

[2018-10-16 01:19] Abizern commented on #241
I've spent a bit of time on this over the weekend and there is something definitely weird going on. Even the old standby of using a stack view doesn't work - even though it works fine in a test app. I'll have to come back to it at a later time.

[2018-10-17 16:20] nickoneill commented on #241
thanks for taking a look @Abizern. It's a little funky but doesn't block folks from getting to where they're going so not critical for now.

[2018-10-26 00:36] fingersakimbo commented on #241
I just tried on iOS 11, Xcode 9.4.1 ... still not seeing it.  I don't think it's a problem anymore.  Shame, because I thought it would be a good starter task for me.

[2018-10-26 00:42] nickoneill commented on #144
Do your two PRs handle all the cases for dynamic type @iainsmith?

[2018-10-26 00:45] nickoneill commented on #241
I agree, let's wait to see if there's a specific repro case that we can fix if it's not straightforward.

What do you think about looking into #207 @fingersakimbo? There's some work that was done a while back in #196 that did this (see the screenshots), but it has a bunch of other work in it that never made it to mergability.

[2018-10-26 01:29] fingersakimbo commented on #241
Sure, I'll take a look.

[2018-10-26 02:55] fingersakimbo opened #249 "Main.storyboard is reporting several autolayout/constraint issues"

[2018-10-26 02:59] fingersakimbo commented on #249
<img width="268" alt="screen shot 2018-10-25 at 9 58 54 pm" src="https://user-images.githubusercontent.com/26525347/47542045-34162180-d8a1-11e8-9548-5f386a8e5ac8.png">

I'm happy to tackle these, but I don't want to cause a merge conflict with the PR for circular progress.

[2018-10-26 04:28] nickoneill commented on #249
That would be great - will review the progress circles tomorrow so we can get it merged in.

[2018-10-26 23:00] nickoneill opened #250 "Users can't say "No Thanks" to notifications"
After a user completes a set of calls for the first time, we ask them if they want to get notifications about new issues. The choices are:

1. All Issues
2. Important Issues
3. No thanks

Only 1 and 2 launch the notification prompt, and saying "No thanks" doesn't set any value that we can check in the future so we ask *every single time* when the user doesn't want notifications.

Lets be less anno

[2018-10-26 23:03] nickoneill commented on #241
All set @fingersakimbo, thanks for your help getting those progress views pulled in.

#250 is new as well if you want to pick that up, just leave a comment.

[2018-10-26 23:03] nickoneill commented on #207
This was fixed in #248

[2018-10-26 23:03] #207 closed

[2018-10-27 13:02] iainsmith commented on #144
Hey @nickoneil, there are a few screens that don’t have any support for dynamic type yet. We could leave this ticket open for a while or open new tickets that are specific to a screen.

[2018-10-27 15:29] nickoneill commented on #144
Sounds great @iainsmith! You don't need to do all the dynamic type work yourself, but can you list the other screens here that need work so I can point folks in that direction?

[2018-10-27 20:06] fingersakimbo commented on #250
I'll take this one.

[2018-10-27 20:09] Abizern commented on #241
Re - reproducibility - The simulator shows it up. Maybe it's a bug with that? Maybe that's why I couldn't fix it :(

[2018-10-27 20:28] fingersakimbo opened #251 "On plus-sized devices, left pane in landscape mode has no top bar"
The table view shows through where the navbar should be.

![simulator screen shot - iphone xr - 2018-10-27 at 15 25 55](https://user-images.githubusercontent.com/26525347/47609016-e57d9a00-d9fc-11e8-81e9-895c289d3b4b.png)

[2018-10-27 20:40] nickoneill commented on #251
We talked a bit about this effect at the time we were doing iPhone X updates, but deferred actually coming up with what the real solution was.

Can we treat the table header the same way we're treating the location header on the other side? As long as that text doesn't get so large that it extends into the top left corner we should be good to not block any content.

[2018-11-04 16:11] nickoneill commented on #250
Closed with #252

[2018-11-04 16:11] #250 closed

[2018-11-06 02:02] fingersakimbo commented on #249
I haven't forgotten about this. It's just more complicated than it seems. IB really, really, really hates the tableHeader on MyImpactViewController, and the quick fixes I tried didn't work. So, I'm going to roll up my sleeves and make some components.

[2018-11-07 22:30] nickoneill commented on #249
Thanks @fingersakimbo! Appreciate the devotion to this issue

[2018-11-08 17:15] nickoneill opened #253 "Issues are in the incorrect order on iOS"
We just posted a new call and it appears near the bottom of the results on iOS. Previously (at least I'm pretty sure?) the order was the same as the website.

As of yet, the order is determined only by the order in which it appears in the json, we have a proper ordering value on the server side though that we could pass through to clients if it makes more sense.

<img width="383" alt="screen shot

[2018-11-08 17:23] nickoneill opened #254 "Indicate issues have been updated with new info or reposted later"
We ship an updated date on the issue in the issue list, it would be nice to surface this in the app so folks can know to tap and see updates and call again.

[2018-11-13 16:47] mccarron commented on #253
I can look tomorrow but can't today. Have we confirmed the JSON order is the same?

[2018-11-13 17:51] nickoneill commented on #253
Yep, and the order on the website follows the JSON. For example right now the top 5:

[code]

These are mixed in the app, some at the bottom, some closer to the top of the list.

[2018-11-13 19:17] mccarron commented on #253
Ah it's a Swift 4.2 change to how Hashes are stored, it's now randomly seeded so you can't expect the input order to be maintained.

So we will need to sort the returned elements because now you can't count on the order of Dictionary objects.

[2018-11-13 19:21] nickoneill commented on #253
Can we avoid storing the issues list as a dictionary? Arrays still have consistent ordering, right?

[2018-11-13 19:22] Abizern commented on #253
Unfortunately I don't have Xcode 9 anymore so I can't load the current code. Looking at the result of the call to get issues, though it seems  we use the "issues" key which returns an array already.

[2018-11-13 19:32] subdigital commented on #253
I'm not sure why these were stored as a dictionary to begin with.. maybe we needed some sort of lookup?  In any case if the lookup is still needed, then we can supplement with an array of ids and look them up from the dictionary.

[2018-11-13 19:56] mccarron commented on #253
I would wager it's in the code that breaks the issues into Dictionary for use by Category functions. I would almost guarantee that the issues returned by this are now out of order in the new Dictionary this line creates.

`let issuesByCategory = Dictionary(grouping: issues) { (issue) -> Category in`

[2018-11-14 18:58] nickoneill commented on #241
I'm going to bump this out of 1.5.3 since it seems hard to reproduce on a real device

[2018-11-19 05:31] mccarron commented on #253
@nickoneill can you pass thru that ordering field? That would make this an easy solve.

I dug in and the issue is, after we assemble all the issues into Categories with a Dictionary and then our view model takes all the Dictionaries's issues and makes an array of it here:

https://github.com/5calls/ios/blob/82de7de856d2261a17366fed260dc99c4e26c623/FiveCalls/FiveCalls/IssuesViewModel.swift#L58

Thi

[2018-11-20 17:18] nickoneill commented on #253
Added an order field to the topic list. Note: this literally only reflects the order of the issues in the json file, so active issues may be non-contiguous (and currently are). In any case, sorting in ascending order will give you the correct order for the front page topics.

<img width="290" alt="screen shot 2018-11-20 at 9 18 13 am" src="https://user-images.githubusercontent.com/49688/48790789-f

[2018-11-21 03:46] nickoneill commented on #253
Fixed in #255

[2018-11-21 03:46] #253 closed

[2018-11-29 22:00] nickoneill commented on #144
I'm going to put out a release to fix the list stuff later tonight, moving the rest of the items here to 1.6

[2018-12-03 16:53] nickoneill opened #256 "Experiment with mixpanel for user behavior analytics"
As part of #239, we're replacing fabric with something else for mobile analytics. Before we go full-on tracking everything in the app, I'd like to see how it behaves tracking data on multiple platforms.

I've already integrated mixpanel with the website. I'm going to do a quick test integration for iOS on 1.5.3 so we can see if both sets of data can live nicely along side one another.

[2018-12-13 17:20] nickoneill opened #259 "Include screenshots for iPhone Xs Max and new iPad 12.9" sizes"
These are app-store optional, but we should add them to the screenshot flow for next release.

[2018-12-13 17:22] mccarron commented on #259
👍 will get those added.

[2018-12-13 17:31] nickoneill commented on #259
Thanks! This'll be for the next big release, probably early next year

[2019-01-08 19:58] nickoneill commented on #256
we experimented, it's garbage

[2019-01-08 19:58] #256 closed

[2019-01-08 19:58] nickoneill commented on #247
I think this was a auth refresh timing mismatch, fixed now

[2019-01-08 19:58] #247 closed

[2019-01-23 14:11] subdigital-gitbot opened #260 "CoreFoundation"
#### in -[NSOrderedSet initWithSet:copyItems:]

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5c487612f8b88c29633fc091?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/5c48761

[2019-02-09 00:54] nickoneill opened #262 "Login flow cancel causes a crash"
My Impact -> Sign in -> "5 Calls would like to use auth0.com to log in" -> Click cancel -> crash

In bugsnag: https://app.bugsnag.com/5-calls-civic-action/5-calls-ios/errors/5c152d71027305001a66bae4

[2019-05-10 06:40] chopper6667 opened #263 "High price acquisition apple enterprise developer account"
公司项目紧急高价收购一个苹果企业账号，出手的可以加我QQ 542357086
Company project urgent ，need one apple enterprise developer account ，if you want to sell ，Feel free to contact me
skype 634242887@qq.com
email 634242887@qq.com
telegram  ypjovi

[2019-05-24 10:06] Abizern commented on #262
I think #261 deals with this one.

[2019-05-24 10:07] Abizern commented on #238
This is being addressed in #261

[2019-05-24 10:08] Abizern commented on #183
Covered by #240

[2019-05-24 10:08] #183 closed

[2019-05-24 12:16] Abizern commented on #182
This pod doesn't work with Swift 5, but we knew that would happen.

The only thing that seems to use pantry is `ContactLogs`, so the impact is fairly contained.

I'll assign it to myself, unless somebody else wants to take a look at it.

[2019-05-24 12:39] Abizern commented on #182
Could somebody add (or send me) the contents of the "com.thatthinginswift.pantry" directory in documents (app or simulator) so that I have something to test against?

Thank you.

[2019-05-24 12:42] Abizern commented on #256
There are still a couple of calls that use it, and the Pod. Can they be removed?

[2019-05-24 13:53] Abizern commented on #241
I'm going to close it, unless I can see it on a device again.

[2019-05-24 13:53] #241 closed

[2019-05-24 14:54] nickoneill commented on #182
This is being handled in #261 as well

[2019-05-24 15:06] nickoneill commented on #256
Yep, I'm still looking for a good way to get insights into how many users we have and how they use the app, but we can remove mixpanel because I'm not using it at all right now.

[2019-05-24 16:46] Abizern opened #264 "Remove Mixpanel"
Although it isn't being used, the pod is still in the project and a couple of calls still remain.

It's easy to clean up, I'll wait until #261 is merged before doing this.

[2019-05-24 16:59] nickoneill commented on #264
👍

[2019-05-26 17:40] nickoneill commented on #239
I'm gonna go with appcenter for this, I've heard a couple other good reviews as well!

[2019-05-26 17:51] nickoneill commented on #238
Fixed in #261

[2019-05-26 17:51] #238 closed

[2019-05-26 17:52] nickoneill commented on #182
Fixed in #261

[2019-05-26 18:35] Abizern commented on #182
This is still used for `ContactLogs`.

I'm happy to take a look at it of somebody can send me a copy of the contents of "com.thatthinginswift.pantry" directory (device or simulator) so that I can test a migration.

[2019-05-26 18:52] nickoneill commented on #182
😬 That's unfortunate, will send you an example directory today.

[2019-05-26 20:16] Abizern commented on #182
Hey, it happens. 😁

[2019-05-26 23:51] nickoneill commented on #262
Fixed in #261

[2019-05-26 23:51] #262 closed

[2019-05-26 23:53] nickoneill commented on #182
I'm not sure how best to ship you an example directory for the pantry data. If you click through a couple calls with "unavailable" (anything other than skip really), you should be able to generate some  standard test data. These won't be submitted in debug mode, so don't worry about that.

[2019-05-27 10:00] Abizern commented on #182
Okay. I'll try that. When it's done I'd appreciate some testing to make sure that the migrations are handled properly on an actual device.

As an aside, is it possible to add my developer developer account to the 5calls development certificate so that I can run the test builds on my devices (abizern (at) mac dot com). If so, who should I ask?

[2019-05-27 14:44] nickoneill commented on #182
Yep, I'll find a few devices with good call histories on them for testing.

Sent you an invite to the team, make yourself a dev certificate as you see fit!

[2019-05-27 14:46] Abizern commented on #182
Thanks very much!

[2019-05-28 21:29] #264 closed

[2019-05-29 15:58] nickoneill commented on #259
These are required now:

[2019-05-30 00:49] nickoneill commented on #239
Fixed in 4698bf16d3e0ba15a6727e062cb8577cc66797cb

[2019-05-30 00:49] #239 closed

[2019-05-31 15:58] mccarron commented on #259
I'll try to get these added this week sometime during session downtime, unless someone can get it to before me.

[2019-06-10 03:54] mccarron commented on #259
Updated Fastlane to make this work and also sent @nickoneill the screenshots but they are also in the Repo.

[2019-06-10 03:54] #259 closed

[2019-06-16 06:08] nickoneill commented on #240
Almost done with this

[2019-06-16 21:18] nickoneill commented on #182
Any luck on this @Abizern? I may try to hack on this if you haven't had the chance to start yet

[2019-06-16 22:32] Abizern commented on #182
I’ve put some thought into it. Got distracted last week. I’ll still get it done, provisional PR this week if that’s okay for your time frame?

--
Abizer

[2019-06-16 22:34] nickoneill commented on #182
That's good for me, just checking that it's still moving forward 👍

[2019-06-27 15:22] #240 closed

[2019-07-18 21:47] subdigital-gitbot opened #268 "WebKitLegacy"
#### in

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/b57805b81e03e59cc5bbf817955b952b?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/b57805b81e03e59cc5bbf817955b952b?utm_m

[2019-11-21 17:38] SakDangler opened #269 "Framework not found Pods_NotificationsService"
Upon cloning down, there is a build error related to the linker on the NotificationService.

Build target NotificationsService of project FiveCalls with configuration Debug
ld: framework not found Pods_NotificationsService
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2019-11-21 18:37] nickoneill commented on #269
Xcode version?

[2019-11-22 14:48] SakDangler commented on #269
Version 11.2 (11B52)

[2019-12-13 13:29] subdigital-gitbot opened #270 "CoreFoundation"
#### in

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/17a330951d106c721f8b38d862dae450?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/17a330951d106c721f8b38d862dae450?utm_m

[2019-12-22 00:55] nickoneill commented on #269
Seems fine in xcode 11 - did you `pod install` and then open the workspace file rather than the project?

[2019-12-22 18:43] #182 closed

[2019-12-24 17:51] nickoneill opened #277 "Fix issue detail screen when no contacts have loaded"
Looks like first launch shows nothing for topics because we don't send a location. We should be able to get the list of topics without a location (web does that OK), investigate if we need to remove a param when it's empty or something.

[2019-12-24 22:13] nickoneill opened #278 "Support dark mode"
I've forced the style to light for 1.6 release, but we should really support dark mode.

[2019-12-24 22:16] nickoneill opened #279 "Fix cell heights in iOS 13"
Cell heights are weird in iOS 13. Not sure what's causing it yet.

![image](https://user-images.githubusercontent.com/49688/71425972-ef7a4780-2657-11ea-88b0-53976b7a0a9a.png)

[2019-12-24 22:17] nickoneill opened #280 "Upgrading doesn't carry over call progress"
I tested this on the sim while developing and it was fine... on a live device from 1.5.x to 1.6 it doesn't upgrade however.

[2019-12-24 22:20] #208 closed

[2019-12-24 22:20] #231 closed

[2019-12-24 22:20] #234 closed

[2019-12-24 22:20] #237 closed

[2019-12-24 22:20] #260 closed

[2019-12-24 22:20] #268 closed

[2019-12-24 22:20] #270 closed

[2019-12-24 23:05] nickoneill commented on #277
We get the list of issues back OK without a location, something is weird when **displaying the issue detail view** without contacts though.

[2019-12-25 01:30] nickoneill commented on #279
Making this a `UIViewController` subclass that implements the table view controller delegates fiixed this, just gotta wrap up the work on it.

It really looks like this was something deep in the default `UITableViewController` setting automatic cell heights, and that was conflicting with the autolayout we were doing in the cells. IMHO, you have to pick one or the other and stick with it 100% in ta

[2019-12-25 01:30] #233 closed

[2019-12-25 01:39] nickoneill opened #282 "Add donations to the app"
Prompt users to donate to 5 Calls at some appropriate time. We already prompt for ratings and notifications after an early set of calls are done, so this can possibly be an ask after a larger volume of calls. Put it in the about page as well.

Apple has a non-profit approval process for something - maybe less fees - but last I checked we don't qualify since we're not a c3. I hate to give Apple 30%

[2019-12-26 20:08] nickoneill commented on #279
Actually all wrong!

It seems like this is tied to our custom nav header for this view (explains why the More Issues page never had this problem too), if I set tableView.contentInsetAdjustmentBehavior = .automatic then this behavior goes away, but the headers are double-inset, like below:

<img width="508" alt="Screen Shot 2019-12-26 at 12 04 56 PM" src="https://user-images.githubusercontent.com/4

[2019-12-26 23:57] #280 closed

[2019-12-27 03:26] #277 closed

[2019-12-27 15:53] nickoneill opened #285 "Fix reminder / location header on iPad"
The split view display on iPad works OK but the header that used to live on top of the detail controller side is missing. I've been digging through the current and past code and can't figure out how this was supposed to work previously - it does show up in the 1.5.3 release though.

@mccarron do you remember how the header view works on iPad? I think you had some influence on supporting iPads in t

[2019-12-27 15:53] #279 closed

[2020-01-02 02:16] #285 closed

[2020-01-02 20:32] nickoneill opened #287 "No-issue list of reps with phone numbers"
Some folks want to just get reps phone numbers and call about issues not on the list. It would be good to have a generic page showing all your reps and their numbers for this.

[2020-01-09 23:09] nickoneill opened #289 "Minor first-time header issue on iPad"
Only the first startup on iPad. After waking from sleep or rotation it sizes fine.

![0E9BB014-BE45-4029-8E98-BC26D70D0370](https://user-images.githubusercontent.com/49688/72112288-01afe300-32f2-11ea-9c30-b2564882ed9e.jpeg)

[2020-01-25 20:42] nickoneill opened #291 "New "done" page with results, tally, share"
After a user has clicked results for all their contacts, push a new screen that has their results nicely summarized, the total calls and a share photo they can use.

![Contacts redesign](https://user-images.githubusercontent.com/49688/73127085-0e7a3b00-3f70-11ea-91cd-520dbbe0f329.jpg)

[2020-01-25 20:45] nickoneill commented on #282
This is going to be a cell that shows up in the list after you've made some calls. It'll have two buttons, "donate now" and "I've donated" and both will make the cell disappear and take you to our actblue page in safari.

Cell should show again in ~3 months.

[2020-02-09 19:55] nickoneill opened #293 "Improve app store screenshots"
They're not really explanatory for what our app does, could be improved.

[2020-02-09 22:17] nickoneill opened #294 "Doublecheck crashes in appcenter"
Apple reports a handful of crashes in the dashboard, but I haven't seen any in appcenter. Check that this is configured correctly.

[2020-02-12 03:40] #282 closed

[2020-02-12 03:40] #291 closed

[2020-02-12 03:41] nickoneill opened #295 "Replace location and rep name in scripts with current call details"
On the website we do some regexes to replace location and rep name in the script so it's easier to read. Let's do this in the app too.

See "San Francisco" and "Senator Harris" in the following screenshot from the site:

<img width="845" alt="Screen Shot 2020-02-12 at 9 06 43 AM" src="https://user-images.githubusercontent.com/49688/74358877-119a6700-4d77-11ea-8a8c-d732cf38c530.png">

[2020-02-12 15:21] nickoneill commented on #294
Fixed in #296

[2020-02-12 15:21] #294 closed

[2020-02-12 15:21] nickoneill commented on #293
Uploaded these guys to the app store

[2020-02-12 15:21] #293 closed

[2020-02-25 00:01] subdigital-gitbot opened #297 "IssuesManager.swift line 48"
#### in

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/7ca730e0c4f464ad326629f9aed501dc?utm_medium=service_hooks-github&utm_source=issue_impact](https://fabric.io/fickle-bits/ios/apps/org.fivecalls.fivecalls-ios/issues/7ca730e0c4f464ad326629f9aed501dc?utm_m

[2020-04-26 16:43] nickoneill opened #299 "Replace deprecated usage of UIWebView"
During our most recent submission:

[2020-04-26 18:41] mccarron commented on #299
Was this the first warning we got of this? I've been getting them since the iOS 13 betas, did we add a new third party library?

[2020-04-26 19:31] nickoneill commented on #299
I don't think it was the first, just the first time I captured them in issues.

[2020-04-26 23:46] #299 closed

[2020-04-27 20:14] nickoneill opened #301 "iPad crash in iOS 13"
Looks like these are all on iPad

SIGABRT: Your application has presented a UIAlertController (<UIAlertController: 0x10613b400>) of style UIAlertControllerStyleActionSheet from UINavigationController (<UINavigationController: 0x1060b7e00>). The modalPresentationStyle of a UIAlertController with this style is UIModalPresentationPopover. You must provide location information for this popover through

[2020-04-30 15:29] #301 closed

[2020-05-03 23:34] nickoneill commented on #35
Working on this, it's pretty straightforward

[2020-05-04 16:33] #295 closed

[2020-05-08 23:48] #35 closed

[2020-07-02 04:04] nickoneill opened #305 "iOS 14: Home Screen Widgets"
Ideas coming out from WWDC 2020: we should add a widget or two. Open to more ideas for what we should display. I'll go  into detail about one that I've thought of below:

## Your Reps
Once users have a location set we have a cached set of your main reps (2 senators, 1 house rep) and it would be nice to give people a Rep Speed Dial widget on their home screen. Medium format, three circles with name

[2020-07-02 04:06] nickoneill opened #306 "iOS 14: One-time Location"
We're a perfect fit for one of the latest improvements in privacy for iOS 14: one time use location prompts. We only get your location once when setting it and then we never use it again unless the user needs to change their location so providing access whenever the app is open is excessive.

* If a user is on iOS 14, when getting location automatically prompt for one-time access only.
  * Users o

[2020-07-05 20:27] subdigital opened #307 "iOS 14: App crashes on ScheduleRemindersController"
To repro:

Load project in Xcode 12 and run on iOS 14 simulator. Tap the gear icon.

Crash:

[code]

Location:

`ScheduleViewController.swift`:

[code]

This was really a private API anyway, so we should figure out the right way to do it, and if there isn't one, isolate this code out of iOS 14 builds.

[2020-07-07 10:45] Abizern commented on #287
What sort of UI would be good for this? How should the options be presented? A button somewhere, an extra item in the list?

[2020-07-07 15:02] #307 closed

[2020-07-08 10:50] Abizern commented on #161
Is this still needed? There are things that can be done around formatting phone numbers with https://github.com/marmelroy/PhoneNumberKit, although that means bringing in another dependency.

[2020-07-08 12:48] Abizern opened #313 "iOS14: App Clip"
An app clip to support a "QR" code that could be added to emails, flyers, posters etc regarding an issue.

The app clip would support loading the Issue detail, getting the general location and providing the contact details of relevant representatives.

https://developer.apple.com/app-clips/

[2020-07-08 13:30] subdigital commented on #313
That’s a great idea. 👍🏼

[2020-07-08 14:07] Abizern opened #314 "Sign in with Apple"
Probably needs some work on the backend and Auth0 to support this. Not sure whether this needs to be raised as an issue elsewhere.

[2020-07-08 21:13] nickoneill commented on #314
I would be open to ditching auth0 in favor of SIWA-only if that's an option

[2020-07-08 21:14] nickoneill commented on #313
This is an awesome idea, it would be amazing to do stickers on high-profile topics that we can send out to folks

[2020-11-06 21:52] nickoneill opened #316 "All issues list doesn't display progress on completion circles"
A user reports that issues on the "all issues" list doesn't report completion % or all completed in the list. It works fine on the main list. I can reproduce it on my device.

[2020-11-06 21:59] nickoneill commented on #316
@piebob

[2020-11-06 22:03] piebob commented on #316
HOT POTATO ;)

[2021-01-18 21:18] inuwali commented on #305
@nickoneill I'm contemplating taking this over and finishing it off. I'm starting by examining the existing code and if I decide to tackle it, I'll leave some more comments below.

[2021-01-18 21:21] inuwali commented on #305
For starters, which minimum iOS version to envision 1.7 to target?

[2021-01-18 21:22] nickoneill commented on #305
Thanks @inuwali, I think there's significant work that @subdigital has done here already, he may be open to help finishing it up though.

[2021-01-18 21:28] nickoneill commented on #305
We currently support 11+ but there are only a handful of users on 11. I am open to dropping support for it if it's beneficial.

[2021-01-19 00:30] inuwali commented on #305
Thanks! I've been in touch with Ben and he's fine to have me to take over. Should I work in a fork, or can you give me write access here?

Ben has definitely done quite a lot of work already; I don't think there's a *ton* left to do before a potential PR so you can check out the widgets and comment on design/content etc.

[2021-01-19 01:07] nickoneill commented on #305
Awesome, added you as a contributor to this repo, feel free to work in your own fork or on a branch here.

[2021-01-19 17:52] inuwali commented on #305
Thanks! I'll work on the existing branch.

[2021-01-24 01:41] inuwali commented on #305
I think I need some team access in order to test on my device. Please advise. :-)

[2021-01-24 18:10] nickoneill commented on #305
Shoot me an email (nick at 5calls.org) with your preferred email and I'll add you to the team in app store connect

[2022-07-26 01:17] #316 closed